.purchase_items .select2 {
    width: 100% !important;
}

#loading {
    display: none;
}

#loader {
    display: none;
    text-align:center;
}

.blink {
    width: 199px;
    padding-left: 83px;
}

.blink span {
    font-size: 15px;
    font-family: cursive;
    color: #3a2ea0;
    animation: blink 2s linear infinite;
}

.d-inline {
    display: inline-block;
}

@keyframes blink {
    0% {
        opacity: 0;
    }

    50% {
        opacity: .75;
    }

    100% {
        opacity: 1;
    }
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown::before {
    position: absolute;
    content: " \2193";
    top: 0px;
    right: -8px;
    height: 20px;
    width: 20px;
}

button#caret {
    border: none;
    background: none;
    position: absolute;
    top: 0px;
    right: 0px;
}

.invoicemaindiv th,
.invoicemaindiv td {
    padding: 10px;
}

.addcolumn {
    cursor: pointer;
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    margin: 2px;
    font-size: 30px;
    width: 40px;
}

.invoicemaindiv .pull-right,
.invoicemaindiv .pull-left {
    float: none !important;
}

.checkek_edit {
    pointer-events: none;
}

.toast-container {
    width: 350px;
}

.toast-position-top-right {
    top: 57px;
    right: 6px;
}

.toast-item-close {
    background-image: none;
    cursor: pointer;
    width: 12px;
    height: 12px;
    text-align: center;
    border-radius: 2px;
}

.toast-item-image {
    font-size: 24px;
}

.toast-item-close:hover {
    color: red;
}

.toast-item {
    border: transparent;
    border-radius: 3px;
    font-size: 10px;
    opacity: 1;
    background-color: rgba(34, 45, 50, 0.8);
}

.toast-item-wrapper p {
    margin: 0px 5px 0px 42px;
    font-size: 14px;
    text-align: justify;
}

.toast-type-success {
    background-color: #00A65A;
    border-color: #00A65A;
}

.toast-type-error {
    background-color: #DD4B39;
    border-color: #DD4B39;
}

.toast-type-notice {
    background-color: #00C0EF;
    border-color: #00C0EF;
}

.toast-type-warning {
    background-color: #F39C12;
    border-color: #F39C12;
}

.span_class {
    min-width: 70px;
    display: inline-block;
}

.purchase-title {
    border-bottom: 1px solid #ddd;
}

.purchase_items h3,.bill_items h3{
    font-size: 18px;
    color: #333;
    margin: 0px;
    padding: 0px;
    text-align: left;
    padding-bottom: 10px;
}

.purchaseitem {
    display: inline-block;
}

.purchaseitem:last-child {
    margin-right: 0px;
}

.purchaseitem label {
    font-size: 12px;
    display: block;
}

.remark {
    display: none;
}

.padding-box {
    padding: 3px 0px;
    min-height: 17px;
    display: inline-block;
}

th {
    height: auto;
}

.quantity,
.rate {
    max-width: 80px;
}

*:focus {
    border: 1px solid #333;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.25);
}

.rate_highlight {
    background: #DD1035 !important;
    color: #fff;
}
.select2-dropdown {
    z-index: 1;
}

#parent,
#parent2,
#parent3 {
    max-height: 150px;
}

#fix_table {
    max-height: 400px;
}

.table {
    margin-bottom: 0px;
    border:1px solid #ddd;
}

table thead th,
table tfoot th {
    background-color: #eee;
}

#main_table thead tr:first-child {
    border-top: 1px solid #ddd;
}

.tooltip-hiden {
    width: auto;
    display:flex;
    gap:5px;
}
.table-scroll {
    position: relative;
    max-width: 1280px;
    width: 100%;
    margin: auto;
    display: table;
}

.table-wrap {
    width: 100%;
    display: block;
    overflow: auto;
    position: relative;
    z-index: 1;
    border: 1px solid #ddd;
}

.table-wrap.fixedON,
.table-wrap.fixedON table,
.faux-table table {
    height: 380px;
}

.table-scroll table {
    width: 100%;
    margin: auto;
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #ddd;
}

.table-scroll th,
.table-scroll td {
    padding: 5px 10px;
    border: 1px solid #ddd;
    background: #fff;
    vertical-align: top;
}

.faux-table table {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    pointer-events: none;
}

.faux-table table tbody {
    visibility: hidden;
}
.faux-table table tbody th,
.faux-table table tbody td {
    padding-top: 0;
    padding-bottom: 0;
    border-top: none;
    border-bottom: none;
    line-height: 0.1;
}

.faux-table table tbody tr+tr th,
.faux-table tbody tr+tr td {
    line-height: 0;
}

.faux-table thead th,
.faux-table tfoot th,
.faux-table tfoot td,
.table-wrap thead th,
.table-wrap tfoot th,
.table-wrap tfoot td {
    background: #eee;
}

.faux-table {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    overflow-y: scroll;
}

.faux-table thead,
.faux-table tfoot,
.faux-table thead th,
.faux-table tfoot th,
.faux-table tfoot td {
    position: relative;
    z-index: 2;
}

/* ie bug */
.table-scroll table thead tr,
.table-scroll table thead tr th,
.table-scroll table tfoot tr,
.table-scroll table tfoot tr th,
.table-scroll table tfoot tr td {
    height: 1px;
}
.error_message {
    color: red;
}

a.pdf_excel {
    background-color: #6a8ec7;
    display: inline-block;
    padding: 8px;
    color: #fff;
    border: 1px solid #6a8ec8;
}

/*29-june-2020*/
.block_purchase {
    margin: 10px 0px;
    padding: 10px;
    border:1px solid #fafafa;
}
#previous_details{
    position: fixed;
    top: 94px;
    left: 70px;
    right: 70px;
    z-index: 2;
    max-width:1150px;
    margin:0 auto;
}
#previous_details table tbody tr{
    border:none;
}
.focus_input{
    border-color: #66afe9 !important;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
label{
    font-size: 11px;
    white-space: nowrap;
}
input,textarea{
    border:1px solid #aaa !important;
}
#cke_po_description{
    border:1px solid #aaa;
}
table.pdf-table{
    
    font-size:10px;
    border:none !important;
}

.pdf-table thead tr th{
    border-bottom:1px solid transparent;
    border-right:1px solid transparent;
}                    
.pdf-table tr td,.pdf-table tr th{
    padding:3px 10px;
    line-height: 11px;
    border:.3px solid #eee;
    border-collapse: collapse;
}
.pdf-table tr td.no-border{
    border:none !important;    
}
.nowrap{
    white-space: nowrap;
}
.foot-table tbody tr td{
    font-size:10px;
    border-top:1px solid #ccc;
    border-bottom:1px solid #ccc;
}
.wrapper {
    border-bottom: 0px;
    margin-top:10px;
}
.holder {
    /* height: 60%; */

}
.pdf-table .categ_td{
    background-color: #ddd;
    font-weight: bold;
    border-bottom:1px solid #ccc;
}
.border-top-0{
    border-top:0px;
}
.border-bottom{
border-bottom:1px solid #ddd;
}
.text-md{
    font-size: 13px;
}
.note-list ol,.note-list ul{
    padding-left:13px;
}
table.mt-2{
    margin-top: 1rem;
}
.valign-top{
    vertical-align: top;
}
.text-capitalize{
    text-transform: capitalize;
}
@media(min-width: 767px) {
    .invoicemaindiv .pull-right {
        float: right !important;
    }

    .invoicemaindiv .pull-left {
        float: left !important;
    }
}

.row_block .elem_block {
    padding: 0px 5px;
}
.estimation-details{
    color:#DD1035;
}