/* 
    Document   : style
    Created on : Sep 19, 2012, 12:54:33 AM
    Author     : Bala
    Description:
        Custome changes and styles
*/

#Clients_status label,
#Projects_billable label,
#Projects_status label,
#Tasks_billable label,
#TimeEntry_billable label,
#Users_status label,
#Biddings_worktype label,
div.radio_btn span label {
  display: inline;
  margin-right: 10px;
  font-weight: normal;
}

.subrow {
  float: left;
  margin-right: 20px;
}

.ajaxLoading {
  background-image: url("loading.gif");
  background-repeat: no-repeat;
}

#loading_status {
  width: 20px;
  height: 20px;
  float: left;
  width: 295px;
}

#ajxerr {
  color: red;
  float: left;
  margin-left: 20px;
  line-height: 60px;
}

table.timehours {
  border: 1px solid #0066a4;
  border-collapse: collapse;
}

table.timehours td,
table.timehours th {
  border: 1px solid #0066a4;
}

.tbl_title,
.tr_title td {
  font-weight: bold;
}

div.timesheet_nav {
  float: right;
  width: 400px;
  text-align: right;
}

div.titleh3 {
  float: left;
}

span.username,
h2 span,
h3 span,
h4 span {
  color: #0066a4;
  font-style: italic;
}

table.timehours thead th {
  background: url("bg.gif") repeat-x scroll left top white;
  color: white;
  text-align: center;
}

table.items tr.odd {
  background: none repeat scroll 0 0 #e5f1f4;
}

table.timehours tr.odd {
  background: none repeat scroll 0 0 #e5f1f4;
}

table.timehours tr.even {
  background: none repeat scroll 0 0 #f8f8f8;
}

table.timehours tr.totaltr,
th.totaltr {
  background: none repeat scroll 0 0 #dfd;
}

span.client_project_name {
  font-size: 11px;
  font-style: italic;
  float: right;
  margin-right: 10px;
}

.hidelink {
  display: none;
}
.currentweek {
  font-weight: bold;
}

.ajaxprogloader {
  display: none;
  text-align: center;
}
div.addlink {
  float: right;
  line-height: 15px;
  line-height: 20px;
  width: 50%;
  font-size: 20px;
  text-align: right;
  padding-right: 100px;
}

a.edittime {
  cursor: pointer;
}

#content {
  min-height: 300px;
}

div.loading {
  text-align: center;
  background-image: url("../images/ajax-loader.gif");
  background-position: center center;
  background-repeat: no-repeat;
  opacity: 1;
}
div.loading * {
  opacity: 0.8;
}

#dashboard {
  border: 1px solid #f2f2f2;
  /* width:333px;*/
  width: 265px;
  margin: 20px;
  float: left;
  text-align: center;
  border-radius: 25px;
}

.today_summary {
  border: 1px solid #c2c2c2;
  float: left;
  height: 347px;
  margin: 20px;
  overflow: hidden;
  width: 263px;
}
.week_sum_heading {
  font-weight: bold;
  padding: 8px;
  border-bottom: 1px solid #c2c2c2;
}
.today_summary .portlet {
  border-bottom: 0px !important;
  padding-bottom: 0px;
}

.today_summary .portlet-content {
  padding: 0 !important;
}

.dash_work_overview {
  line-height: 15px;
  border-bottom: 1px solid #c2c2c2;
  margin-bottom: 10px;
  min-height: 40px;
}
.qk_desc {
  margin: 5px;
  width: 304px;
}
.date_qk_smy {
  background-color: #f2f2f2;
  font-weight: bold;
  line-height: 26px;
  text-align: center;
}
.hrs_box {
  background-color: #f2f2f2;
  float: right;
  font-weight: bold;
  height: 16px;
  padding: 5px;
  position: relative;
  width: 28px;
  z-index: 3;
  margin-top: 5px;
}

.dash-summary {
  /*width:250px;*/
  /*min-height:315px;*/
  /*border:1px solid #c2c2c2;*/
  float: left;
  margin-top: 0px;
}

.dash-summary ul li {
  float: left;
  border-radius: 10px;
}

.dicons {
  background-color: #f9f9f9;
  border: 1px solid #c2c2c2;
  border-radius: 20px 20px 20px 20px;
  display: block;
  float: left;
  font-size: 11px;
  height: 55px;
  margin: 3px;
  padding: 4px;
  text-align: center;
  width: 50px;
}

.dicons:hover {
  background-color: #f1f1f1;
}

.dblink {
  margin-top: 5px;
  font-weight: bold;
}

img.dasimage {
  height: 30px;
  width: 30px;
}

td.bold {
  font-weight: bold;
  font-size: 12px;
}

#left_sub_icons {
  height: 200px;
  background-color: #c2c2c2;
  width: 50px;
  left: 0;
  position: fixed;
  top: 50%;
  padding-top: 10px;
  text-align: center;
  z-index: 100;
  margin-top: -120px;
}

/*Dashboard notification */
.menu li {
  background-color: #e5f1f4;
  /* clear: both;*/
  position: relative;
  list-style: none;
  margin: 0px 5px 10px 5px;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
}

.menu a {
  padding: 8px 10px;
  font: bold 12px Arial, Helvetica;
  text-decoration: none;
  line-height: 15px;
  display: block;
}

.menu a:hover {
  color: #fafafa;
}

.menu li:first-child a {
  -moz-border-radius: 5px 0 0 5px;
  -webkit-border-radius: 5px 0 0 5px;
  border-radius: 5px 0 0 5px;
}

.menu .bubble {
  background: #e02424;
  position: absolute;
  right: 10px;
  top: -15px;
  padding: 4px 10px;
  color: #fff;
  font: bold 0.9em Tahoma, Arial, Helvetica;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 14px;
}

.menu .greenbub {
  background: green !important;
}

#price_preview {
  margin-top: 5px;
  position: absolute;
  top: 300px;
  padding: 5px;
  float: right;
  right: 25px;
  min-width: 140px;
  border: 1px solid #e5e5e5;
  background: none repeat scroll 0 0 #f1f1f1;
  min-height: 50px;
}

#price_preview.fixed {
  position: fixed;
  top: 0;
}

.pay_tskitem {
  background-color: #f5f5f5;
  border: 1px solid #e2e2e2;
  padding: 5px;
  margin-top: 5px;
}

div.pay_tskitem div {
  float: left;
  margin-left: 5px;
  float: left;
}

.loading {
  width: 200px;
}

#tasks_lists label {
  display: block;
  width: 100%;
  cursor: pointer;
}

#tasks_lists {
  border: 1px solid #b2b2b2;
  max-height: 250px;
  overflow: scroll;
  width: 500px;
  min-height: 100px;
}

.remarkitems {
  border: 1px solid #b2b2b2;
  padding: 10px;
  margin: 5px;
  background-color: #f9f9f9;
  width: 500px;
}

tfoot tr {
  background-color: #bdf;
  border: 1px solid red;
  font-weight: bold !important;
}

.calendar {
  z-index: 10 !important;
}

.par_close_overlay {
  position: absolute;
  right: 10px;
  z-index: 10;
  top: 20px;
}
.btn-info,
.btn-primary,
.btn-other,
.btn-info:hover,
.btn-primary:hover,
.btn-other:hover {
  text-decoration: none;
}
.error_message {
  color: red;
}