div.container {
    width: 100%;

}

 .inv_footer {
    padding: 1em;
    color: black;
    background-color: lightblue;
    clear: left;
    text-align: center;
}


.invoicemaindiv
{ 
margin-top:30px;
margin-right:105px;
margin-left:110px;
}
.invoiceheader{
border:1px solid black;
height:115px;
}
.inv_client_det{
float:left;
width :300px;
border:1px solid black;	

}
.rightdiv{
float:right;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 10px;
}



.grandtotal td{
    border:none !important;
}
table.invoiceheader td.details{
    text-align:left;
    
    
}
table.invoiceheader{
	background-color:lightblue;
	color:black;
}

.addcolumn {
	cursor: pointer;
    background-color: black;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    margin:2px;
    font-size: 30px;
    width:40px;
    
}
