body {
    margin: 20px 0px;
    font-family: sans-serif;
    font-weight: normal;    

}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 10px;
}
@page rotated {
    margin: 20px;
}

.banner_holder {
    background: #fff;
    page: rotated;
    page-break-before: right;
    height:1300px;
}

.banner_holder img {
    height: 1300px;
}

#content {
    position: relative;
    z-index: 2;
    padding: 20px;
    padding-bottom: 100px;
    padding-top: 100px;
    text-align: center;
    font-weight: bold;
    font-family: Arial, sans-serif;
}
.text_value{
    line-height: 1.6;
}
.text_light {
    color: #fefdff;
}
.text_title{
    font-weight: 600;
}

.red_border {
    border: 3px solid #ea1a20;
}
tr:nth-child(even) {
    background-color: #fff;
}
.v_topalign {
    vertical-align: top;
}
label {
    font-family: sans-serif;
    font-size: 0.9rem;
}

.bg_light_grey {
    background: #f6f7f8;
}
.bg-white{
    background-color: #fff;
}
.detail_table{
    text-transform: uppercase;
}
.detail_table td {
    padding: 10px 10px;
    text-transform: uppercase;

}

.detail_sec {
    position: relative;
}
.detail_logo {
    width: 150px;
    position: absolute;
    top: 0px;
    left: 20px;
}
td.uppercase{
    text-transform: capitalize;
}

.text-center {
    text-align: center;
}

.light_font {
    font-weight: 500;
}
table.item_table {
    border: 1px solid #fff;
    page-break-inside: auto;    
}
table.item_table tbody tr.header th, th.subtitle{
    background-color: #ea1a20;
    border: 1px solid #fff;
    color: #fff;
    border-collapse: collapse;
    font-size:12px;
}

table.item_table thead tr th.title, th.title{    
    padding: 15px 10px;
    background-color: #14439a;
    color: #fff;
}

table.item_table thead tr td {
    background-color: red;
    color: #fff;
    border-collapse: collapse;
}
table.item_table thead tr th.transaparent_col{
    background-color: transparent;
}
table.item_table tbody tr td {
    border: 1px solid #fff;
    background-color: #f6f7f8;
    color: #333;
    border-collapse: collapse;
    padding: 10px 10px;
}
table.item_table tbody tr.item_body td {
    font-size:13px;
}

table.item_table.no-border tbody tr td {
    border: none;
}

table.item_table tbody tr.catehead td {
    background-color: #8eaadb;
    font-weight: 600;
    color: #000;
    padding: 15px 10px;
}
table.item_table tbody tr.catetotal td {
    background-color: #fff;
    font-weight: 600;
    padding: 15px 10px;
}

.dot_bg {  
    padding: 20px 50px; 
}
.page_break{
    page-break-before: right;
}
.table_h {
    border-collapse: collapse;
}
.text-right {
    text-align: right;
}

.h-100 {
    height: 1300px;
}
.w-30 {
    width: 30%;
}
.mb_0 {
    margin-bottom: 0px;
}
.mt_0 {
    margin-top: 0px;
}
.sub_text {
    font-weight: normal;
    font-size: 15px;
}
.mt_1 {
    margin-top: 5px;
}
.mt_2 {
    margin-top: 15px;
}
.pb_1 {
    padding-bottom: 15px;
}
.p-5 {
    padding: 50px;
}
.pl-3 {
    padding-left: 30px;
}
.pt-3 {
    padding-bottom: 30px;
}
.pt-5 {
    padding-top: 50px;
}
.border-right {
    border-right: 1px solid #565656;
}
.border-bottom-none {
    border-bottom: none;
}
.border-bottom {
    border-bottom: 1px dotted #fff ;
}
.bg_doted{
    background-image: url(../images/quotation-file/ptn-1.png);
}
.nowrap {
    white-space: nowrap;
}
table.terms_table{
    page-break-inside: avoid;
}


table.terms_table tbody tr td{
    border: 1px solid #fff;
    background-color: #f6f7f8;
    color: #333;
    border-collapse: collapse;
    padding: 10px 10px;
    line-height: 24px;
    font-size: 16px;
    font-family: Arial, sans-serif;
}

table.item_table tbody tr td p{
    height: 30px;
    margin: 0px;
    padding: 6px 0px;
}
