body {
  margin: 0px;
  font-family: sans-serif;
  font-weight: normal;
  font-size: 12px;
}
@page rotated {
  margin: 0;
}

.banner_holder {
  background: linear-gradient(to bottom, red 50%, white 50%);
  page: rotated;
  page-break-before: right;
  padding: 50px;
  padding-bottom: 38px;
}

.banner_holder img {
  height: 1300px;
  margin-top: -100px;
}

#content {
  position: relative;
  z-index: 2;
  padding: 20px;
  padding-bottom: 0px;
  padding-top: 0px;
  text-align: center;
  font-weight: bold;
  font-family: Arial, sans-serif;
}
.text_light {
  color: #fefdff;
}
.mb_0 {
  margin-bottom: 0px;
}
.mt_0 {
  margin-top: 0px;
}
.sub_text {
  font-weight: normal;
  font-size: 15px;
}
.mt_1 {
  margin-top: 5px;
}
.pb_1 {
  padding-bottom: 15px;
}
.red_border {
  border: 3px solid red;
}
tr:nth-child(even) {
  background-color: #fff;
}
.v_topalign {
  vertical-align: top;
}
label {
  font-family: sans-serif;
  font-size: 0.9rem;
}

/* .detail_table tbody tr td:nth-child(2){
    background: #f0eeea;
} */
.bg_light_grey {
  background: #f0eeea;
}
.detail_table td {
  padding: 26px 10px 0px 20px;
}
.pt-3 {
  padding-bottom: 30px;
}
.pt-5 {
  padding-top: 50px;
}
.detail_sec {
  position: relative;
}
.detail_logo {
  width: 150px;
  position: absolute;
  top: 0px;
  /* margin-top: -55px; */
  left: 20px;
}
.border-bottom-none {
  border-bottom: none;
}
.text_brown {
  color: #7f6c4b;
  font-family: Verdana, sans-serif;
}
.text-center {
  text-align: center;
}
.text_brown h1 {
  /* letter-spacing: 2px; */
  font-size: 30px;
}
.light_font {
  font-weight: 500;
}
table.item_table {
  border:none;
  min-height: 400px;
  page-break-inside: auto;
  border-bottom: none;
}
table.item_table tbody tr.thead th {
  background-color: #000;
  border-right: 1px solid #fff;
  color: #fff;
}
table.item_table thead tr th {  
  background-color: transparent;
  border-right: 1px solid #fff;
  color: transparent;
}

table.item_table tbody tr.catehead td {
  background-color: #ddd;
}

table.item_table thead tr td {
  background-color: red;
  border-right: 1px solid #fff;
  color: #fff;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  border-collapse: collapse;
}
table.item_table tbody tr td,table.item_table tbody tr th {
  border: 1px solid #ddd;
  background-color: #f0eeea;
  color: #333;
  border-collapse: collapse;
}
.dot_bg {
  background-image: url(../images/image7.png);
  page: rotated;
  page-break-before: right;
  height: 1300px;
  padding: 50px;
}
.table_h {
  background-color: transparent;
  border-collapse: collapse;
}
.text-right {
  text-align: right;
}
.p-5 {
  padding: 50px;
}
.material_sec {
  page-break-after: right;
  page: rotated;
  width: 100%;
  display: flex;
}
.red_dot_bg {
  background-image: url(../images/image6.png);
}
.h-100 {
  height: 1300px;
}
.w-30 {
  width: 30%;
}
.material_listing {
  background-color: #f0eeea;
  height: 1300px;
  width: 70%;
  padding-top: 150px;
  padding-left: 30px;
  vertical-align: top;
  font-size: 30px;
}

.mb-2 {
  margin-bottom: 2rem;
}
.mat_brand_list {
  column-count: 2;
  column-rule: 1px solid black;
}
.table_mat_list tr:nth-child(even) {
  background-color: #f0eeea;
}
.table_mat_list td {
  font-size: 25px;
  padding-bottom: 40px;
}
.border-right {
  border-right: 1px solid black;
}
.pl-3 {
  padding-left: 30px;
}
.payment_terms {
  page-break-after: right;
  page: rotated;
  background-color: #f0eeea;
}
.payment_terms h1 {
  font-size: 30px;
}
.rate_sec p {
  font-size: 14px;
}
