@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

.upload-files-container {
	// background-color: #f7fff7;
	width: 300px;
	padding: 30px;
	border-radius: 40px;
	display: flex;
   	align-items: center;
   	justify-content: center;
	flex-direction: column;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 20px, rgba(0, 0, 0, 0.28) 0px 6px 6px;
}
.drag-file-area {
	border: 2px dashed var(--primary-color);
	border-radius: 40px;
	margin: 10px 0 15px;
	padding: 10px;
	width: 250px;
	text-align: center;
}
.drag-file-area .upload-icon {
	font-size: 50px;
}
.drag-file-area h3 {
	font-size: 26px;
	margin: 15px 0;
}
.drag-file-area label {
	font-size: 19px;
}
.drag-file-area label .browse-files-text {
	color: var(--primary-color);
	font-weight: bolder;
	cursor: pointer;
}
.browse-files span {
	position: relative;
	top: -25px;
	left: 37px;
}
.default-file-input {
	opacity: 0;
}
.cannot-upload-message {
	background-color: #ffc6c4;
	font-size: 17px;
	display: flex;
	align-items: center;
	margin: 5px 0;
	padding: 5px 10px 5px 30px;
	border-radius: 5px;
	color: #BB0000;
	display: none;
}
@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}
.cannot-upload-message span, .upload-button-icon {
	padding-right: 10px;
}
.cannot-upload-message span:last-child {
	padding-left: 20px;
	cursor: pointer;
}
.file-block {
	color: #5cb85c;
	border: 1px solid #5cb85c;
  	transition: all 1s;
	width: 200px;
	position: relative;
	display: none;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 10px 0 15px;
	padding: 10px 20px;
	border-radius: 25px;
	cursor: pointer;
}
.file-info {
	display: flex;
	align-items: center;	
}
.file-icon {
	display: none;
	margin-right: 0px;
}
.file-name, .file-size {
	padding: 0 3px;
}
.remove-file-icon {
	cursor: pointer;
}
.progress-bar {
	display: flex;
	position: absolute;
	bottom: 0;
	left: 4.5%;
	width: 0;
	height: 5px;
	border-radius: 25px;
	background-color: #4BB543;
}
.upload-button {
	font-family: 'Montserrat';
	background-color: var(--primary-color);
	color: #f7fff7;
	display: flex;
	align-items: center;
	font-size: 15px;
	border: none;
	border-radius: 20px;
	padding: 7.5px 50px;
	cursor: pointer;
}

.sample_btn span:first-child{
	font-size: 14px !important;
}

.clearfix .add-btn a.button, .clearfix .add-btn button.button{
	font-size: 13px !important;
	padding: 5px 20px !important;
}

/* *************************** */
/* 
  .grid-view {
    padding: 0px !important;
    margin-top: -23px;
} */
.file-size{
	display:none !important;
}
#import-project-grid{
	padding:0px  !important;
	margin-top: -17px;
}

/* .grid-view {
	overflow-y: auto;
	max-height: 200px;
	position:relative;
  }
  .grid-view thead th{
	position: sticky;
	top: 0;
  }
  
  table {
	border-collapse: collapse;        
	width: 100%;
	margin-bottom: 0px !important;
  } */
  