:root {
  --primary-label: #3b3c6a;
  --secondary-label: #565f72;
  --primary-color: #133682;
  --primary-color-shadow: #13368263;
  --body-color: #fafbfc;
  --card-color: #fff;
  --card-shadow: rgba(170, 195, 230, 0.21);
  --placeholder: #b6b6b6;
  --button-shadow: #0052cc;
  --line-color: #c1c7d0;
  /* new color */
  --error-msg: #ff0000;
}

.custom-login-page .card-wrapper {
  position: relative;
  width: 426px;
  height: 616px;
  overflow: hidden;
  border-radius: 20px;
  z-index: 1;
}

.custom-login-page .card-wrapper::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 400px;
  height: 630px;
  background: linear-gradient(
    0deg,
    transparent,
    var(--primary-color),
    var(--primary-color)
  );
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
}

.custom-login-page .card-wrapper::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 400px;
  height: 630px;
  background: linear-gradient(
    0deg,
    transparent,
    var(--primary-color),
    var(--primary-color)
  );
  transform-origin: bottom right;
  animation: animate 6s linear infinite;
  animation-delay: -3s;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.login-page-body {
  font-family: "Roboto", sans-serif;
  background: var(--body-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custom-login-page .wrapper {
  min-height: 100vh;
  display: grid;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-login-page a,
.custom-login-page .form-check-input {
  text-decoration: none !important;
  cursor: pointer;
}

.custom-login-page h2,
.custom-login-page p {
  margin: 0px;
}

.custom-login-page .coms-bg {
  width: 90%;
}

.custom-login-page .view-section {
  display: flex;
}

.custom-login-page .text-center {
  text-align: center;
}

.custom-login-page .first-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.custom-login-page .coms-head {
  bottom: 0px;
  color: var(--primary-label);
  font-size: 42px;
}

.custom-login-page .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: var(--card-color);
  width: 100%;
  inset: 3px 0px 6px 3px;
  position: relative;
  width: 420px;
  height: 610px;
  padding: 36px 32px;
  border-radius: 20px;
  box-shadow: 0px 0px 15px 0px var(--card-shadow);
  -webkit-box-shadow: 0px 0px 15px 0px var(--card-shadow);
  -moz-box-shadow: 0px 0px 15px 0px var(--card-shadow);

  z-index: 10;
}

.custom-login-page .welcome {
  color: var(--primary-label);
  font-size: 36px;
  font-weight: 700;
}

.custom-login-page .welcome-para {
  color: var(--primary-label);
  font-size: 16px;
  text-align: center;
  /* value changed */
  margin-bottom: 20px;
  font-weight: 600;
}

.custom-login-page .card-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

/* new class style */
.custom-login-page .card-input-container {
  margin-bottom: 5px;
}

.custom-login-page .card-input-container input::placeholder {
  color: var(--placeholder);
  font-family: "Roboto", sans-serif;
}

.custom-login-page .card-input-container input {
  width: 100%;
  border: 1px solid var(--secondary-label);
  outline: none;
  border-radius: 10px;
  padding: 1em;
  font-size: 14px;
  color: var(--secondary-label);
  background: var(--card-color);
  /* changed the value */
  margin-bottom: 5px;
}

.custom-login-page .card-input-container input:focus,
.custom-login-page .card-input-container input:hover {
  border: 1px solid var(--button-shadow);
}

/* new class */
.custom-login-page .error-msg {
  font-size: 12px;
  color: var(--error-msg);
  font-family: "Roboto", sans-serif;
  display: block !important;
  /* visibility: hidden; */
}

.custom-login-page .card-button {
  background: var(--primary-color);
  padding: 10px;
  font-size: 18px;
  color: var(--body-color);
  cursor: pointer;
  outline: none;
  border-radius: 10px;
  border: 1px solid var(--primary-color);
  font-family: "Roboto", sans-serif;
}

.custom-login-page .card-google-button {
  background: var(--card-color);
  padding: 10px;
  font-size: 18px;
  color: var(--body-color);
  cursor: pointer;
  outline: none;
  border-radius: 10px;
  border: 1px solid var(--secondary-label);
  text-align: center;
}

.custom-login-page .card-button:focus,
.custom-login-page .card-button:hover,
.custom-login-page .card-google-button:focus,
.custom-login-page .card-google-button:hover {
  box-shadow: 0px 0px 13px 0px var(--primary-color-shadow);
  -webkit-box-shadow: 0px 0px 13px 0px var(--primary-color-shadow);
  -moz-box-shadow: 0px 0px 13px 0px var(--primary-color-shadow);
}

.custom-login-page .form-check {
  margin: -10px 0px 10px 0px;
  display: flex;
  align-items: center;
}

.custom-login-page .form-check-label {
  color: var(--primary-label);
  margin-left: 5px;
  font-weight: 600;
}

.custom-login-page .continue-with {
  color: var(--secondary-label);
  margin: 20px 0px;
  text-align: center;
}

.custom-login-page .password-wrapper {
  display: flex;
  column-gap: 10px;
  margin: 30px auto 0px;
}

.custom-login-page .forgot-pw {
  color: var(--secondary-label);
  font-size: 14px;
}

.custom-login-page .reset-pw {
  color: var(--primary-label);
  font-size: 14px;
}

.custom-login-page .privacy {
  font-family: "Roboto", sans-serif;
  margin-bottom: 5px;
  color: var(--secondary-label);
  font-size: 12px;
}

.custom-login-page .copyright {
  font-family: "Roboto", sans-serif;
  color: var(--secondary-label);
  font-size: 12px;
}

.custom-login-page .line {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0;
  border-top: 1px solid var(--line-color);
}

.login-page-body {
  min-width: 0px;
  position: relative;
  z-index: 1;
  flex: 1 1 auto;
}

.custom-login-page .errorDiv {
  height: 20px !important;
}

.custom-login-page .errorMessage {
  font-size: 12px !important;
  font-family: "Roboto", sans-serif;
}
.margin-top-10 {
  margin-top: 10px !important;
}

@media (max-width: 1399px) and (min-width: 1100px) {
  .custom-login-page .first-section {
    width: 60%;
  }
  .custom-login-page .coms-bg {
    width: 70%;
  }
  .custom-login-page .coms-head {
    font-size: 32px;
  }
}

@media (max-width: 1099px) and (min-width: 992px) {
  .custom-login-page .first-section {
    width: 50%;
  }

  .custom-login-page .coms-head {
    font-size: 32px;
  }
}

@media (max-width: 991px) and (min-width: 768px) {
  .custom-login-page .first-section {
    display: none;
  }

  .custom-login-page .card {
    inset: 4px 0px 6px 4px;
    width: 99%;
    height: 612px;
  }

  .custom-login-page .card-wrapper {
    width: 95%;
    height: 620px;
  }

  .custom-login-page .card-wrapper::before {
    width: 90%;
    height: 600px;
  }

  .custom-login-page .card-wrapper::after {
    width: 90%;
    height: 600px;
  }

  .custom-login-page .view-section {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .custom-login-page .first-section {
    display: none;
  }

  .custom-login-page .card {
    inset: 4px 0px 6px 5px;
    width: 97.5%;
    height: 612px;
  }

  .custom-login-page .card-wrapper {
    width: 95%;
    height: 620px;
    margin-top: 100px;
  }

  .custom-login-page .card-wrapper::before {
    width: 120%;
    height: 660px;
    top: -54%;
    left: -69%;
  }

  .custom-login-page .card-wrapper::after {
    width: 120%;
    height: 600px;
    top: -46%;
    left: -70%;
  }

  .custom-login-page .view-section {
    display: flex;
    justify-content: center;
    width: 100%;
  }
}

img {
  -webkit-animation: mover 2s infinite alternate;
  animation: mover 2s infinite alternate;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
