table {
  border-collapse: collapse;
  width: 100%;
  font-size: 13px;
}
table.table tr th,
table.table tr td {
  border: 1px solid #ccc;
  /* border-bottom:1px solid #fff; */
}
table.table tr.sum_sec th,
table.table tr.sum_sec td {
  border-bottom: 1px solid #ccc;
}
table.detail-table tr th,
table.detail-table tr td {
  border: 1px solid #555 !important;
}
.table_one thead tr td,
.table_one tbody tr td {
  padding: 10px !important;
}

.text-sm-table thead tr td,
.text-sm-table tbody td {
  font-size: 9px !important;
  font-weight: normal !important;
}
.text-right {
  text-align: right;
}
table.details {
  font-size: 12px;
}
.info-table {
  border: 1px solid #212121;
  margin-top: 20px;
}
.details td,
.details th,
.info-table td,
.info-table th {
  padding: 6px 8px;
  text-align:left;
}
.details th .td-content{
  font-weight:normal;
}
.info-table {
  margin-bottom: 10px;
}
.text-center {
  text-align: center;
}
.img-hold {
  width: 10%;
}
.page_heading {
  font-size: 18px;
  font-weight: bold;
  margin-top: 0px;
  color: #789ad1;
}
h4 {
  text-align: center;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
table td,
table th {
  padding: 6px 10px;
}
.border-bottom {
  border-bottom: 1px solid #000;
}
.red-text {
  color: red;
}
.white-text {
  color: #fff;
}
.border-0 {
  border-top: none;
  border-bottom: none;
}
.blue_bg {
  background-color: #add8e6;
}
.blue_bg td {
  border-top: 1px solid white !important;
}
td.helper_bg {
  background: lightcoral;
}
.helper_box {
  background: lightcoral;
  height: 15px;
  width: 15px;
  display: inline-flex;
  margin-right: 3px;
  margin-bottom: -2px;
}
td.tbl_holder table tr td {
  border: none !important;
  padding: 8px;
  white-space: nowrap;
  height: 10px;
}

.mb-2 {
  margin-bottom: 1rem;
}
.mt-3 {
  margin-top: 20px;
}

.mt-1 {
  margin-top: 15px;
}
.ml-3 {
  margin-left: 30px;
}
.pdf_spacing {
  margin: 0px 30px;
}
.order_list {
  font-size: 14px !important;
  line-height: 50rem;
}
.orange_text {
  color: #eb880e;
}
table tbody tr td.border-right-0 {
  border-right: 1px solid #fff;
}
table tbody tr td.border-bottom-0,
table tbody tr th.border-bottom-0 {
  border-bottom: 1px solid #fff;
}
.label_text {
  color: red;
  margin-right: 30px;
}

.ref_block {
  display: none;
}
table.table-first thead tr th {
  border-bottom: 2px solid white !important;
  border-right: 1px solid white !important;
}
