@media(max-width:768px)  {
    
    h2{
        font-size:15px !important;
        padding-top: 25px !important;
    }

    .row_block .elem_block input, .row_block .elem_block select{
        width:100%;
    }
    .select2.select2-container.select2-container--default.select2-container--above, .select2.select2-container.select2-container--default.select2-container--below, .select2.select2-container.select2-container--default.select2-container--focus{
        width:auto !important;
    }
    textarea{
        width: 100%;
    }
}
