body {
  height: 100%;
  font-size: 12px;
}
* {
  outline: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
:root {
  --main-color: #373b53;
  --primary-color: #6a8ec7;
  --secondary-color: #b3b3b3;
  --border-color: #ccc;
  --thead-color: #f4f9ff;
  --boxshadow: rgba(0, 0, 0, 0.4);
}
.app_switchmenu {
  background-color: #ff9393;
  color: black !important;
}

.page-wrapper {
  padding-bottom: 0px;
}
.page-body,
.nav > li > a,
.nav > li > a {
  color: #5e5e5e;
}
.page-body {
  margin-top: 70px;
}
.page-body h3 {
  margin: 3em 0em 1em;
  text-align: center;
  color: #fff;
}

#login-form {
  display: table;
  background: #fff;
  border: #111;
  border-radius: 15px;
  margin: 0 auto;
  padding: 35px;
  text-align: left;
}
#login-form input[type="text"],
#login-form input[type="password"] {
  width: 250px;
  display: block;
  margin-bottom: 6px;
  border-radius: 4px;
  border: 1px solid #ededed;
  padding: 8px;
}
#login-form .row {
  margin: 10px 0px;
}
#login-form input[type="submit"] {
  background: #5ca2e8;
  color: #fff;
  margin-bottom: 6px;
  border-radius: 4px;
  border: 1px solid #ededed;
  padding: 8px 25px;
}
#login-form input[type="submit"]:hover {
  background: #408cd8;
}
span.required {
  color: red;
}
.errorMessage {
  color: red;
  position: absolute;
}
.rememberMe {
  float: right;
}
#login footer {
  color: #fff;
  background: none;
}
.navbar {
  margin-bottom: 0px;
}

.navbar-header {
  /* padding-left: 10px; */
  padding-right: 10px;
}
.navbar {
  margin-bottom: 48px;
}
.navbar-toggle {
  margin-right: 0px;
}

#myNavbar ul li a {
  padding-bottom: 5px;
  padding-top: 5px;
}
.user-select {
  padding: 5px 15px 0px 0px;
  float: right;
}

.page-body #myNavbar ul li a {
  padding: 10px;
}

.balance-box .box {
  display: block;
  padding: 5px 10px;
  max-width: 200px;
  border: 2px solid #ccc;
  margin: 0 auto;
  font-size: 14px;
}

h4 {
  margin: 15px 0px !important;
}
.project-table .row,
.activity-table .row,
.exp-list .row {
  padding: 10px 0px;
  background: #f7f8f7;
  border-bottom: 1px solid rgba(141, 176, 232, 0.25);
  border-top: 1px solid #fff;
}
.project-table .row:hover,
.activity-table .row:hover,
.exp-list .row:hover {
  border-bottom: 1px solid #5f99e1;
  background: #fff;
}
.row-hold {
  cursor: pointer;
}
.nav > li > a:hover,
.nav > li > a:focus,
.active,
.nav .selected {
  text-decoration: none;
}
.modal-header {
  padding: 0px 15px;
  background: #f5f5f5;
}

/*Expense Page*/
#expense h4 {
  margin: 15px 0px;
}
.filter label,
.addRow label {
  display: block;
  margin-top: 10px;
}

.filter input[type="text"],
.filter select,
.addRow input[type="text"],
.addRow select {
  width: 100%;
}
.filter .date input[type="text"] {
  width: 80px;
  margin-top: 2px;
}
.filter select,
.addRow select {
  padding: 2.5px 0px;
}

.mob_addrow {
  margin: 10px 0px 0px;
  padding: 10px 0px 0px;
}
.filter ul {
  padding-left: 0px;
  padding-right: 0px;
}
.addRow {
  border: 0px;
}
.addRow textarea {
  width: 100%;
  height: 80px;
}
.add-box {
  border: 1px solid #ccc;
  margin-bottom: 10px;
}
.add-btn {
  text-align: right;
}
/* .add-btn button ,.add-btn .button,.add-btn button ,.add-btn .btn,.primary-btn{
    background: #6a8ec7;
    border-radius: 4px;
    color: #fff;
    font-weight: normal;
    font-size: 15px;
    border-width: 2px;
    border:1px solid  #698ec8;
    padding: 6px 12px;
    text-decoration: none;

} recent */

.modal-body .row {
  background: #fff;
}

/* .exp-list{
	padding-right: 15px;
	padding-left: 15px;
} */
.exp-list .fa {
  margin: 2px;
  cursor: pointer;
}

.modal-footer {
  padding: 15px;
  border-top: 0px;
}
.btn-go {
  margin: 10px 0px 2px;
}
.modal .filter {
  padding: 10px;
}
/*Project Page*/

#project .addRow input[type="text"] {
  width: 100%;
}
.checkboxList {
  list-style-type: none;
  padding-left: 0px;
  border: 1px solid #ccc;
  overflow-y: scroll;
  height: 80px;
}
.checkboxList li {
  padding-left: 10px;
  display: flex;
}
.checkboxList li:first-child {
  background: #ccc;
}
.modal-header button {
  padding: 10px;
}
#project .filter input[type="text"] {
  width: auto;
}
#project .filter {
  padding-left: 10px;
}

/*Use Page*/
#user .filter ul {
  width: 100%;
  margin: 0 auto;
}
#user .filter ul li {
  width: 49%;
}

#user .modal input[type="text"],
#user .modal select,
#user .modal input[type="password"] {
  width: 100%;
}
#user .filter label {
  display: inline-block;
}
#user .btn-go {
  margin-left: 1em;
}

/*Footer*/
footer {
  text-align: center;
  padding: 5px 0px;
  font-size: 12px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ededed;
  z-index: 3;
}

@media (max-width: 992px) {
  .footer {
    position: relative;
  }
}
footer a {
  color: #8a8787;
}
.modal-footer .del-btn {
  background: #ccc;
  color: #5e5e5e;
  font-size: inherit;
  padding: 1px 6px;
  border: 2px outset buttonface;
  border-radius: 0px;
}
.modal-footer .del-btn:hover {
  background: #fff;
}
.del-btn {
  background: #ccc;
  color: #5e5e5e;
  font-size: inherit;
  padding: 1px 6px;
  border: 2px outset buttonface;
  border-radius: 0px;
}
.del-btn:hover {
  background: #fff;
}

/*By uma*/

.attend li {
  line-height: 37px;
}
.attend {
  margin-bottom: 0px;
}
.detailsemp h5 {
  margin-bottom: 10px;
}
.attend li:first-child {
  display: block;
  margin-top: 10px;
}

/* Added by sikha on 14/08/17 */

.line-seperator_dailymobile {
  border: 2px solid rgba(16, 15, 15, 0.27);
  margin-top: 20px;
}

li.checkboxtype > label {
  margin-top: 0px;
}
li.checkboxtype > input[type="checkbox"] {
  margin: 0px 5px 0px 0px;
}
/*New*/
.modal p.note {
  padding: 0px;
  text-align: center;
}
div.form label {
  font-size: 100%;
}
.modal .radio_btn label {
  display: inline-block;
  margin-right: 10px;
}
.modal .radio_btn1 label {
  display: inline-block;
  margin-right: 5px;
}
h2 {
  padding: 15px 0px;
}
.modal-open .calendar {
  z-index: 1050;
}

.radio_btn {
  width: 250px !important;
}
.list_item {
  font-size: 13px;
  font-weight: normal;
  color: #333;
}
.list_item span {
  color: #888;
}

/* pager styles */
ul.yiiPager a:link,
ul.yiiPager a:visited {
  border: solid 1px #698ec8 !important;
  font-weight: bold;
  color: #555 !important;
  padding: 1px 6px;
  text-decoration: none;
}

ul.yiiPager .selected a {
  background: #6a8ec7 !important;
  color: #ffffff !important;
  font-weight: bold;
}

#settings .table {
  width: 95%;
  margin-top: 1em;
}
#settings .table thead tr th:last-child,
#settings .table tbody tr td:last-child {
  text-align: right;
}
.userform .row {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

a.save_btn,
button.save_btn {
  background-color: #6a8ec7;
  display: inline-block;

  color: #fff;
  border: 1px solid #6a8ec8;
}
/*created by athira*/
table.exptable {
  width: 80%;
}
.exptable td,
.exptable th {
  width: 100px;
}
table.exptable1 {
  width: 50%;
}
.exptable1 td,
.exptable1 th {
  width: 100px;
}
table.projtable {
  width: 100%;
  border: 1px solid gray;
  border-collapse: collapse;
}
.projtable td,
.projtable th,
.projtable tr {
  border: 1px solid gray;
  border-collapse: collapse;
}
.projtable th {
  text-align: center;
}

.maindiv {
  margin: 0 auto;
  max-width: 992px;
}
.whiteborder {
  border-left: 1px solid #f7f8f7 !important;
  border-right: 1px solid #f7f8f7 !important;
}
.issues,
.nextweek,
.pastweek {
  border: 2px solid transparent !important;
}

.issues:focus,
.nextweek:focus,
.pastweek:focus {
  border: 2px inset !important;
}
.projtable td,
.projtable th {
  padding: 4px 5px;
  background: #fff;
}
.reporttitle {
  margin: 25px 0px 5px !important;
}
.htCore .savedata:after {
  content: url("../images/tick.png");
}
.htCore tr td:nth-child(5),
.htCore tr td:last-child {
  text-align: right !important;
}
.htCore tr td.listbox:last-child {
  text-align: left !important;
}

/* dropdown in nav styles */
.navbar-nav {
  margin: 0px;
}
#myNavbar ul li li.active a,
#myNavbar ul li li a {
  padding: 5px 5px 5px 5px;
  margin-top: 0px;
  font-size: 12px;
}
#myNavbar ul li li .active a {
  background-color: #777;
}

#myNavbar ul li ul {
  padding: 0px;
}

#myNavbar ul li a:hover,
#myNavbar ul li a:focus,
#myNavbar ul li ul li.active a:hover,
#myNavbar ul li ul li.active a:focus {
  background: #6a8ec7 !important;
  color: white;
}
#myNavbar ul li a.dropdown-profile:hover,
#myNavbar ul li a.dropdown-profile:focus,
#myNavbar ul li ul li.active a.dropdown-profile:hover,
#myNavbar ul li ul li.active a.dropdown-profile:focus {
  background-color: transparent !important;
}
ul.dropdown-menu li a {
  font-size: 12px;
}
ul.dropdown-menu li.active a {
  font-size: 12px;
  background: #6a8ec7 !important;
}

ul.dropdown-menu li a:hover,
ul.dropdown-menu li a:focus {
  background: #6a8ec7 !important;
  color: white;
}
.tblwrap {
  max-width: 100%;
  overflow: visible;
  width: 100%;
}
.tblwrap.scrollTable {
  max-width: 1215px;
  overflow-x: auto;
  width: 100%;
  overflow-y: hidden;
}
.greytable,
.greytable th,
.greytable td {
  border: 1px solid #d8d8d8;
  background-color: transparent;
}
.greytable {
  width: 100%;
  border-collapse: collapse;
  font-size: 12px !important;
}
.greytable thead tr:first-child {
  background: #6e6f72;
  color: #fff;
}
.greytable > tbody tr {
  background: #fff;
  color: #828282;
}
.greytable td,
th {
  padding: 8px 6px;
  height: auto;
}
.tooltips {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}
.tooltiptext {
  background-color: black;
  border-radius: 6px;
  bottom: -100px;
  color: #fff;
  max-width: 500px;
  min-width: 250px;
  min-height: 150px;
  padding: 10px;
  position: absolute;
  left: 50%;
  text-align: left;
  visibility: hidden;
  z-index: 100;
  display: block;
  word-break: break-word;
}
.tooltips:hover .tooltiptext {
  visibility: visible;
}

.tooltips:hover .tooltiptext {
  visibility: visible;
}
.list-view .sorter {
  text-align: left !important;
  margin-bottom: 0px !important;
}
.greytable th {
  text-align: center !important;
}
.greytable th {
  text-align: center !important;
}
.greytable .editProject {
  cursor: pointer;
}
.list-view .sorter a {
  color: #5e5e5e;
}
/* .list-view a {
  color: #686868;
  display: inline-block;
  margin: 5px;
  margin-bottom: 0px;
} */
.greytable tr:last-child .tooltiptext,
.greytable tr:nth-last-child(2) .tooltiptext {
  bottom: 80%;
}
.greytable tr:first-child .tooltiptext,
.greytable tr:nth-child(2) .tooltiptext,
.greytable tr:nth-child(3) .tooltiptext {
  margin-bottom: -150px;
}
.modal-dialog {
  z-index: 1050;
}

.logmod::after {
  clear: both;
  content: "";
  display: table;
}

.logmod__container {
  overflow: hidden;
  width: 100%;
}
.logmod__container::after {
  clear: both;
  content: "";
  display: table;
}

.logmod__alter {
  display: block;
  position: relative;
  margin-top: 7px;
}
.logmod__alter::after {
  clear: both;
  content: "";
  display: table;
}
.logmod__alter .connect:last-child {
  border-radius: 0 0 4px 4px;
}

.connect {
  overflow: hidden;
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
}
.connect::after {
  clear: both;
  content: "";
  display: table;
}
.connect:focus,
.connect:hover,
.connect:visited {
  color: #fff;
  text-decoration: none;
}
.connect__icon {
  vertical-align: middle;
  float: left;
  width: 70px;
  text-align: center;
  font-size: 22px;
  height: 40px;
  line-height: 40px;
  padding-top: 10px;
}
.connect__context {
  vertical-align: middle;
  text-align: center;
}

.connect.googleplus {
  background: #dd4b39;
  color: #fff;
}
.connect.googleplus a {
  color: #fff;
}
.connect.googleplus .connect__icon {
  background: #b52f1f;
}
.importbutton {
  padding: 5% 40%;
}
.nav {
  font-size: 11px;
  text-transform: uppercase;
}
h2 {
  text-transform: uppercase;
}

a.excelbtn {
  background-color: #6a8ec7;
  margin-right: 2px;
  float: right;
  padding: 8px;
  /* recent */
  color: #fff;
  border: 1px solid #6a8ec8;
}
table tbody tr td:nth-child(2) {
  border-left: 1px solid #ddd;
}
table tbody tr:last-child {
  border-bottom: 1px solid #ddd;
}
/* Style changes */

.purchase_block {
  text-align: right;
  background: #f7f8f7;
  border-bottom: 2px solid #fff;
}
.purchase_block .row {
  padding: 6px 0px;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
}
.purchase_block .row:hover {
  border-bottom: 1px solid transparent;
  background: #f7f8f7 !important;
}

.purchase_block .list_item span {
  float: left;
}

.purchase_block .fa {
  margin-right: 0px;
}
.purchase_block:hover {
  border-bottom: 2px solid #fff;
  background: #fff;
}

.btn-search {
  margin-top: 10px;
}

.sel {
  width: 150px;
}

/*              DailyExpense Daybook  Styles        */

div.daybook .form-control {
  padding: 3px 6px;
  font-size: inherit;
  height: 28px;
}
.selectBank {
  display: none;
}
.elem_block {
  float: left;
}

.elem_block label {
  display: block;
}
.block_hold {
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 10px;
  margin-bottom: 5px;
  box-shadow: 0 0 13px 1px rgba(0, 0, 0, 0.25);
}
.last-entry {
  line-height: 24px;
}
#errormessage {
  margin-top: 10px;
}
.total-table {
  border: 1px solid #ddd;
}
.row_block .elem_block {
  padding: 0px 15px;
}
.row_block .elem_block input,
.row_block .elem_block select {
  width: auto;
}
.row_block h4 {
  margin: 0px 30px 10px 15px !important;
  line-height: 24px;
  background-color: #fafafa;
  font-size: 16px;
}
.amntblock,
.gstvalue {
  display: none;
}
.elem_block .gstvalue {
  padding: 3px 6px;
}
.daybook-inner .gsts input {
  display: inline-block;
}
.elem_block textarea.form-control {
  height: 28px;
}
.daybook .areahold {
  width: 60%;
}
.addentries {
  margin-top: 15px;
}
.totalamnt {
  text-align: right;
  margin-top: 15px;
}
.totalamnt span {
  font-size: 14px;
}
.row_block:after {
  content: "";
  display: block;
  clear: both;
}
button.addentries.collapsed:before {
  content: "Add Entries";
  display: block;
}
button.addentries:before {
  content: "Close";
  display: block;
}
.calendar,
.calendar table {
  z-index: 3;
}
.pointer {
  width: 25px;
  cursor: pointer;
}

.daybook h3 {
  color: inherit;
  margin: 0.5em 0em 0.5em;
}
.select2-container--open .select2-dropdown--below {
  border-top: 1px solid #aaa !important;
}
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td {
  border: 1px solid #dee1fe;
}
.rightborder {
  border-right-color: #eee !important;
}
/*              tablefix styles                      */

.tablefix_hold {
  overflow: auto;
  max-height: 650px;
  position: relative;
}
.headcol {
  position: relative;
  z-index: 2;
}
.tablefix_hold thead th,
.tablefix_hold tfoot th {
  background-color: #f3f4ff;
}
.tablefix_hold tbody .headcol,
.tablefix_hold .top-left {
  background: #fafafa;
}
.tablefix_hold tbody .headcol {
  position: relative;
  z-index: 1;
}
#fixTable td,
th {
  height: auto;
}
.wrap {
  white-space: nowrap;
}
.total_amnt {
  z-index: 1 !important;
}
/*   ---------------------------------------------   */

.clearfix .add-btn a.button,
.clearfix .add-btn button.button {
  background-color: #6a8ec7;
  display: block;
  padding: 6px 12px;
  color: #fff;
  cursor: pointer;
  float: right;
  border: 1px solid #6a8ec8;
  margin-top: 15px;
  margin-left: 5px;
}
.select2-dropdown {
  z-index: 1000 !important;
}
#myNavbar ul li a {
  /* margin-top: 5px; recent */
  margin-top: 10px;
}

.tooltip-inner {
  white-space: nowrap;
}
.tooltip {
  position: fixed;
}
.tooltip-hiden {
  padding: 0px;
  margin: 0px;
  display: flex;
}
.tooltip-hiden {
  width: auto;
}
.tooltip-hiden li {
  list-style: none;
  display: inline-block;
  margin: 2px 0px; /* recent */
}
.popover {
  width: auto;
}
.popover-content {
  padding: 5px 14px;
}
.tax_amnt {
  cursor: pointer;
  text-decoration: underline;
  font-weight: 600;
}
td .fa {
  margin-right: 3px;
}
.form-control {
  height: 28px;
  padding: 3px 6px;
}
.form-log {
  background-color: #fafafa;
  padding: 10px;
  box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
}
.form-log .buttons {
  margin-top: 5px;
}
.form-log .buttons label {
  display: block;
}
.page-body .head_secon {
  color: #555;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 5px;
}
.pdf_excel {
  margin-top: 15px;
}
.inline {
  display: inline-block !important;
}
.item_view {
  padding: 15px 0px;
}
.thead-inverse {
  background-color: #eee;
}
.add-btn button {
  margin-top: 15px;
}
table thead {
  background-color: #eee;
}
.form-search {
  padding-bottom: 10px;
}
.btn-info.addentries,
.btn-info.addentries:hover,
.btn-info.addentries:focus,
.btn-info.addentries:active {
  background-image: none;
  background-color: #6a8ec7;
  border: 1px solid #6a8ec7;
}
.dataTables_length {
  display: none;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.current,
.dataTables_wrapper .dataTables_paginate .paginate_button.current:hover {
  background: none !important;
  background-color: #6a8ec7 !important;
  border: 1px solid #6a8ec7 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 1px 6px !important;
  margin-left: 5px !important;
  font-size: 11px !important;
  border-radius: 15px !important;
  line-height: 100%;
}
.dataTables_wrapper .dataTables_paginate .paginate_button {
  border: 1px solid #6a8ec7 !important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button:hover {
  border: 1px solid #6a8ec7;
  background: none !important;
  background-color: #6a8ec7 !important;
  color: #fff !important;
}
table.dataTable thead th,
table.dataTable thead td {
  border-bottom: 1px solid #ddd !important;
}
.pager li > a:hover,
.pager li > a:focus {
  background-color: #6a8ec7 !important;
  color: #fff !important;
}
table.dataTable.no-footer {
  border-bottom: 1px solid #ddd !important;
}

.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 1px solid #fff !important;
}
.dataTables_scrollHeadInner {
  background-color: #eee;
}
.myTable_wrapper table th:last-child {
  border-right: 0px;
}

.dpdwntab .nav-tabs > li > a,
.dpdwntab .nav-pills > li > a {
  font-size: 12px;
  padding: 6px 12px;
  text-transform: none;
}
.dpdwntab .nav > li > a:focus,
.dpdwntab .nav > li > a:hover {
  background-color: #3682c0;
  color: #fff;
}
.btnadd {
  display: inline-block;
  border: 1px solid #ddd;
  padding: 5px 6px;
  border-radius: 4px;
  font-size: 13px;
  background: #ddd;
  color: #fff;
  text-decoration: none;
}
#previous_details .alert-dismissible {
  padding-right: 10px;
}
#previous_details .alert-dismissible .close {
  top: -2px;
  right: -3px;
}
#previous_details table th,
#previous_details table td {
  padding: 3px !important;
}

#previous_details table tbody tr td:nth-child(2) {
  border-left: 0px;
}
#previous_details .alert-success {
  background-image: none;
}
#previous_details .get_prevdata {
  background-color: #fff;
  border-color: #fff;
  box-shadow: 0px 0px 8px 6px rgba(0, 0, 0, 0.25);
  color: #555;
}
#previous_details table thead th {
  background-color: #eee;
}
#previous_details table p {
  color: #3c763d;
  font-weight: bold;
  margin: 0px;
  font-size: 13px;
}
.items_separator {
  margin-bottom: 10px;
}
.list-view a {
  margin: 0px 2px;
}
table.dataTable {
  border-collapse: collapse !important;
}
.page-body h3 {
  margin: 4px 0px;
  color: inherit;
  text-align: left;
}
.page-body h3.login_head {
  margin: 3em 0em 1em;
  text-align: center;
  color: #fff;
}
.panel {
  border: 1px solid #ddd;
}
.panel-heading {
  background-color: #eee;
  height: 40px;
}
.error {
  color: #ff0000;
}
.panel-gray {
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.25);
}
.panel-footer {
  background-color: #fff;
}
.list-view a.btn-info {
  color: #fff;
}
td a.fa,
td span.fa {
  cursor: pointer;
}
.page-body h3.second_head {
  line-height: 36px;
  margin: 10px 0px;
  color: inherit;
}
.icon .badge {
  font-size: 12px;
  padding: 3px 6px;
}
#myNavbar ul li a.icon {
  font-size: 14px;
}
.shdow_box {
  /* box-shadow:0 2px 1px -1px rgba(0,0,0,.2), 
    0 1px 1px 0 rgba(0,0,0,.14), 
    0 1px 3px 0 rgba(0,0,0,.12); recent */
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}
select {
  height: 24px;
  font-size: 12px !important;
}

.filter_elem {
  float: left;
  margin-right: 5px;
}
.page_filter .filter_elem .form-control[readonly] {
  font-size: 12px;
}
.page_filter
  .filter_elem
  .select2-container--default
  .select2-selection--single {
  border: 1px solid #ccc;
}
.page_filter .filter_elem .select2-container {
  margin-bottom: 8px;
  width: 200px !important;
}
.filter_elem.filter_btns {
  margin-top: 2px;
}
.filter_elem.filter_btns.go_btn {
  margin-top: 24px;
}
.filter_elem.margin {
  margin-left: 15px;
}
.filter_elem .select2-container {
  width: 200px !important;
  margin-bottom: 8px;
}
.page_filter .filter_elem .form-control {
  box-shadow: none;
  width: 200px !important;
  padding-left: 8px;
  font-size: 12px;
  display: inline-block;
}

.update-form {
  padding: 15px;
  margin-bottom: 10px;
}
.update-form h3 {
  font-size: 18px;
  color: #333;
  margin: 0px;
  padding: 0px;
  text-align: left;
  padding-bottom: 10px;
}
a.link-text {
  color: #337ab7;
  font-weight: bold;
}
.list-container {
  width: 100%;
  text-align: right;
  padding: 0px 10px;
  float: right;
}
.list-container .list-item {
  border-bottom: 2px solid #fff;
  padding: 5px 5px 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.data-amnts {
  width: 30%;
  background-color: var(--thead-color);
  text-align: right;
  padding: 0px 10px;
  float: right;
}

.data-amnts div {
  border-bottom: 2px solid #fff;
  padding: 5px 5px 0 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.desc_po > ol,
.desc_po > ul {
  clear: both;
  padding-left: 13px;
  margin-bottom: 0px;
}
.desc_po > ol li,
.desc_po > ul li {
  float: left;
  margin-right: 20px;
}
.mb-2 {
  margin-bottom: 1rem;
}
.disabled-ta {
  font-weight: 400;
}
.companyhead {
  font-size: 1rem;
  font-weight: bold;
  margin-top: 0px;
  color: #789ad1;
}
.po-add .select2-selection__rendered {
  /* width:240px !important; */
}
.padding-top-50 {
  padding-top: 50px;
}
.padding-top-30 {
  padding-top: 30px;
}
.d-block {
  display: block !important;
}
.checkek_edit {
}
.border-bottom {
  border-bottom: 1px solid #ddd;
}
.mt {
  margin-top: 10px;
}
.ml {
  margin-left: 10px;
}
.mt-0 {
  margin-top: 0px !important;
}
.subq_parent {
  max-height: 400px;
}
table thead tr:first-child {
  border-top: 1px solid #ddd;
}
table thead th,
table tfoot th {
  background-color: var(--thead-color);
}
.purchase_items h3 {
  font-size: 18px;
  color: #333;
  margin: 0px;
  padding: 0px;
  text-align: left;
  padding-bottom: 10px;
}
.block_sec {
  margin: 10px 0px;
  padding: 10px 10px;
  border: 1px solid #fafafa;
}
.error_message {
  color: red;
}
.text-danger {
  color: #f00;
}
a.pdf_excel {
  background-color: #6a8ec7;
  display: inline-block;
  padding: 8px;
  /* recent */
  color: #fff;
  border: 1px solid #6a8ec8;
}
#cke_1_contents {
  height: auto !important;
}
.cke_wysiwyg_frame {
  height: 100px !important;
}
.blinking {
  color: #0037ff;
  animation: blinkingText 1.8s linear infinite;
}
@keyframes blinkingText {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0.25;
  }
  75% {
    opacity: 0.5;
  }
  90% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}
h4.section_title {
  font-size: 17px;
  background-color: #fafafa;
  line-height: 3rem;
  padding-left: 1rem;
}
.filter_elem.links_hold {
  margin-top: 6px;
}

.box_holder {
  background-color: #f6f6ff;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
}
.pr-0 {
  padding-right: 0px !important;
}
.px-0 {
  padding-left: 0px !important;
  padding-right: 0px !important;
}
/* 16-07-2020 */
.w-100 {
  width: 100%;
}
.pt-5 {
  padding-top: 50px;
}
.parent_row {
  background: #fff;
  padding: 20px 0px;
  font-size: 13px;
  border: 1px solid #eee;
  border-bottom: none;
  border-top: none;
}
.parent_row .fa {
  font-size: 17px;
}
.content_sec {
  border-right: 1px solid #eee;
  margin-top: 15px;
}
.content_sec label {
  width: 40px;
}
a.btn_sec,
button.btn_sec {
  color: #fff;
  font-weight: 600;
  margin: 0;
}

a.btn_sec:hover {
  color: #fff;
}

.btn_approve,
.btn_view {
  background: #4caf50;
}

.btn_decline {
  background: #ee1b00;
}

.btn_approve:hover,
.btn_view:hover {
  background: #5bcf00;
  color: #fff;
}

.btn_decline:hover {
  background: #de3f2ae6;
  color: #fff;
}
.btn_logo {
  border-radius: 100%;
  border: none;
  width: 50px;
  height: 50px;
  font-size: 20px;
  font-weight: 600;
}
.parent_row > .row {
  margin: 0;
}
.head_sec {
  border: 1px solid #eee;
  background: #fafafa;
  line-height: 35px;
  margin: 0px;
}

.head_sec .tab_btn {
  border-right: 1px solid #eee;
  text-align: center;
  cursor: pointer;
}

.head_sec .tab_btn:last-child {
  border-right: none;
}
.tab_btn span.badge {
  color: #fff;
  font-size: 10px;
  /* width: 30px;
    height: 20px; recent*/
  width: 25px;
  height: 25px;
  line-height: 14px;
  margin-left: 5px;
  text-align: center;
  float: right;
  padding: 6px 4px !important; /* recent*/
}
.head_sec .active {
  background: #fff;
  box-shadow: -6px -2px 20px #eee;
}
.act_btn {
  margin-top: 15px;
}
button:focus,
.btn:focus {
  outline: none !important;
}
.categ_td {
  background-color: #fafafa;
}
.btn.add_payment {
  margin-top: 20px;
  border: 0px;
}
.payment_list {
  margin-top: 10px;
  max-width: 500px;
  padding: 10px;
  height: 120px;
  overflow: auto;
}
.payment_list table {
  width: 100%;
}
.payment_list table tbody tr {
  border-bottom: none;
}
.payment_list table tbody tr td {
  border-right: 1px solid transparent;
  width: 200px;
  padding: 5px;
}
.payment_entries {
  margin-bottom: 5px;
  box-shadow: -2px 0px 3px -1px #555;
}
.add-paymenentry {
  box-shadow: -2px 0px 3px -1px #555;
  padding: 20px;
  margin-top: 20px;
}
#generalform {
  max-width: 600px;
  box-shadow: -5px 0px 2px 0px rgba(0, 0, 0, 0.25);
}
#success-alert {
  max-width: 600px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown::before {
  position: absolute;
  content: " \2193";
  top: 0px;
  right: -8px;
  height: 20px;
  width: 20px;
}
button#caret {
  border: none;
  background: none;
  position: absolute;
  top: 0px;
  right: 0px;
}
.block_purchase {
  margin: 10px 0px;
  padding: 10px;
  border: 1px solid #fafafa;
}
h3.viewhead {
  margin-top: 20px;
}
.note_sec {
  padding: 15px;
  border-left: 3px solid #555 !important;
  border: 1px solid #ddd;
  max-width: 600px;
  cursor: pointer;
}
.note_sec ul {
  padding-left: 15px;
}
.note_sec ul li {
  line-height: 24px;
  font-weight: bold;
}
.note_sec h5 b {
  margin-left: 6px;
}
.note_sec h6 {
  font-size: 13px;
}
.note_sec .list_sec {
  margin-top: 15px;
}

/*table scroll ui */
.table-scroll {
  position: relative;
  max-width: 1280px;
  width: 100%;
  margin: auto;
  display: block !important;
  overflow: auto;
}
.table-wrap {
  width: 100%;
  display: block;
  overflow: auto;
  position: relative;
  z-index: 1;
  /* border: 1px solid #ddd; */
}
tr.pitems td input,
tr.pitems td div.pricediv {
  text-align: right !important;
}

.table-wrap.fixedON,
.table-wrap.fixedON table,
.faux-table table {
  height: 380px;
  /* match heights*/
}
.table-scroll table {
  width: 100%;
  margin: auto;
  border-collapse: separate;
  border-spacing: 0;
  border: 1px solid #ddd;
}
/* ie bug */
.table-scroll table thead tr,
.table-scroll table thead tr th,
.table-scroll table tfoot tr,
.table-scroll table tfoot tr th,
.table-scroll table tfoot tr td {
  height: 1px;
}
.table-scroll th,
.table-scroll td {
  padding: 5px 10px;
  border: 1px solid #ddd;
  background: #fff;
  vertical-align: top;
}
.faux-table table {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  pointer-events: none;
}

.faux-table table tbody {
  visibility: hidden;
}

/* shrink cells in cloned table so that the table height is exactly 300px so that the header and footer appear fixed */
.faux-table table tbody th,
.faux-table table tbody td {
  padding-top: 0;
  padding-bottom: 0;
  border-top: none;
  border-bottom: none;
  line-height: 0.1;
}

.faux-table table tbody tr + tr th,
.faux-table tbody tr + tr td {
  line-height: 0;
}
.faux-table thead th,
.faux-table tfoot th,
.faux-table tfoot td,
.table-wrap thead th,
.table-wrap tfoot th,
.table-wrap tfoot td {
  background: #eee;
}
.faux-table {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  overflow-y: auto;
}

.faux-table thead,
.faux-table tfoot,
.faux-table thead th,
.faux-table tfoot th,
.faux-table tfoot td {
  position: relative;
  z-index: 2;
}
.w-70 {
  width: 70% !important;
}
.export-btn {
  margin-top: 14px;
}
.bg_grey {
  background-color: #bbbbbb7a;
}
.delete_msg h4 {
  color: green;
  font-weight: bold;
}
label.filter_label {
  margin-right: 5px;
  align-self: center;
  margin-bottom: 0px;
}
.d-flex {
  display: flex;
}
.gap-1 {
  gap: 1rem;
}
.flash-holder {
  width: 350px;
  position: fixed;
  top: 59px;
  right: 6px;
  border: transparent;
  border-radius: 3px;
  font-size: 14px;
  opacity: 1;
  color: #fff;
  padding: 20px 10px;
  z-index: 9999;
}
.flash-success {
  background-color: #00a65a;
  border-color: #00a65a;
}
.flash-error {
  background-color: #dd4b39;
  border-color: #dd4b39;
}
.form-control:focus {
  border-color: #66afe9 !important;
}
.w-auto {
  width: auto !important;
}

.loading-overlay {
  display: none;
  background: rgba(255, 255, 255, 0.7);
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  z-index: 9998;
  align-items: center;
  justify-content: center;
}

.loading-overlay.is-active {
  display: flex;
}

td.helper_bg {
  background: lightcoral;
}
.helper_box {
  background: lightcoral;
  height: 15px;
  width: 15px;
  display: inline-flex;
  margin-right: 3px;
  margin-bottom: -2px;
}
.scroll-table {
  height: 400px;
  overflow: auto;
}
.nowrap {
  white-space: nowrap !important;
}
.add_new_row {
  font-weight: bold;
  margin-left: 12px;
}
.add_new_row span {
  padding: 4px 4px;
  background: #337ab7;
  color: #fff;
  margin-right: 5px;
  border-radius: 50%;
  width: 17px;
  height: 17px;
  line-height: 10px;
}
a.link {
  color: #337ab7 !important;
}
.ml-2 {
  margin-left: 20px !important;
}
.ml-1 {
  margin-left: 10px !important;
}
.mr-2 {
  margin-right: 20px !important;
}
.mr-1 {
  margin-right: 10px !important;
}
.h_area {
  height: 28px !important;
}
.sup_text {
  margin-left: 4px;
  font-size: 13px;
  font-weight: bold;
}
.overflow_auto {
  overflow: auto;
}
/* Dashborad css */
.sidebar {
  width: 6.5rem;
  min-height: calc(100vh - 80px);
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  background-color: #fff;
}
.sidebar .nav-tabs {
  padding-top: 50px;
  border-bottom: none;
  margin-left: 20px;
}
.nav-tabs {
  border: none;
}
.sidebar .nav-item {
  width: 100%;
  margin-bottom: 20px;
}
.sidebar .nav-tabs > li.active > a,
.sidebar .nav-tabs > li.active > a:hover,
.sidebar .nav-tabs > li.active > a:focus {
  border-color: #f7f7f7;
  background-color: #f7f7f7;
}
.sidebar .nav-item.active a {
  color: #2d4456;
  background-color: #f7f7f7;
  border-color: #f7f7f7;
}
.sidebar .nav-tabs > li > a {
  margin-right: 0px;
}
.sidebar .nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
}
.sidebar a.nav-link {
  color: #555;
  font-weight: 500;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}
.sidebar i {
  margin-right: 5px;
  font-size: 17px;
}
#content-wrapper {
  background-color: #f7f7f7;
  width: 100%;
  overflow-x: hidden;
  padding: 50px 15px;
}
.nav-tabs {
  border: none;
}
.tab_section.nav-tabs > li {
  margin-right: 5px;
  min-width: 100px;
}
.tab_section.nav-tabs > li.active > a,
.tab_section.nav-tabs > li.active > a:hover,
.tab_section.nav-tabs > li.active > a:focus {
  border-bottom-color: #ddd;
  color: #333;
  background-color: #eee;
  font-weight: 800;
}
.tab_section.nav-tabs > li > a:last-child {
  margin-right: 0px;
  height: 35px;
}
.tab_section.nav-tabs > li > a {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 8px;
  /* recent */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*  */
}
.tab_btn .badge {
  border-radius: 50%;
}
.tab_section.nav-tabs > li.active > a .badge,
.tab_section.nav-tabs > li.active > a:hover .badge,
.tab_section.nav-tabs > li.active > a:focus .badge,
.tab_section.nav > li > a:hover .badge,
.tab_section.nav > li > a:focus .badge {
  background-color: #fff;
  color: #3578b7;
}
.tab_section.nav-tabs > li > a > input[type="checkbox"] {
  margin: 0px;
}
.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-break: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
  margin: 20px 0px;
}
.h-100 {
  height: 100% !important;
}
.shadow {
  box-shadow: 0px 0px 13px rgba(0, 0, 0, 0.15) !important;
}
.border-left-success {
  border-left: 0.25rem solid #1cc88a !important;
}
.border-left-danger {
  border-left: 0.25rem solid #dc3545 !important;
}
.border-left-info {
  border-left: 0.25rem solid #36b9cc !important;
}
.border-left-warning {
  border-left: 0.25rem solid #f6c23e !important;
}
.font-weight-bold {
  font-weight: bold;
}
.font-weight-normal {
  font-weight: normal;
}
.font-size-16 {
  font-size: 16px !important;
}
.p-5 {
  padding: 5px 10px;
}

.pending_concil i,
.pending_bill i,
.duplicate_entries i,
.pending_deliveries i,
.pending_consumption i {
  color: #555;
}
td.light_bg_grey {
  border-bottom: 1px solid var(--border-color) !important;
}
.p-relative {
  position: relative;
}
.remove_row {
  background: #cc0404;
  border-radius: 3px 0 0 3px;
  color: #fff !important;
  /* display: block; */
  height: 26px;
  float: left;
  line-height: 26px;
  padding: 0 30px 0 10px;
  position: relative;
  margin: 0 3px 3px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  margin-left: 15px;
  margin-bottom: 10px;
}
.remove_row::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: "";
  height: 6px;
  right: 13px;
  position: absolute;
  width: 6px;
  top: 10px;
}
.remove_row::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #cc0404;
  border-top: 13px solid transparent;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
}

.btn_notify {
  background: #2196f3;
  border-radius: 3px 0 0 3px;
  color: #fff !important;
  /* display: block; */
  height: 26px;
  float: right;
  line-height: 26px;
  padding: 0 30px 0 10px;
  position: relative;
  margin: 0 3px 3px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
  margin-left: 15px;
  margin-bottom: 10px;
}
.btn_notify::before {
  background: #fff;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: "";
  height: 6px;
  right: 13px;
  position: absolute;
  width: 6px;
  top: 10px;
}
.btn_notify::after {
  background: #fff;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #2196f3;
  border-top: 13px solid transparent;
  content: "";
  position: absolute;
  right: 0;
  top: 0;
}

.badge.badge_count {
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size: 10px;
  background: #ff5722;
  color: #fff;
  padding: 5px 6px;
  top: -7px;
  left: 20px;
  position: absolute;
}
.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}

.break_word {
  word-break: break-all;
}

.pl-0 {
  padding-left: 0px;
}
.bg_pending {
  background-color: #ecb9b9 !important;
}
.bg_warning {
  background-color: #ffc10763 !important;
}

.bg-success {
  background-color: #dff0d8 !important;
}

input.btn.btn-sm {
  padding: 3px 6px;
}

.mt-2 {
  margin-top: 10px;
}
.bg_red {
  margin: 5px 15px 0px 0px;
  font-weight: bold;
  background: red;
  color: #fff;
  padding: 5px;
  border-radius: 4px;
}

.imd_div2 img {
  width: 60px;
  height: 60px;
  cursor: pointer;
}
.text-success {
  color: #28a745 !important;
}
.text-highlight {
  font-size: 1.3rem;
  font-weight: bold;
}
.px-3 {
  padding: 0px 15px;
}
/* stlyes added by Vishnu */
.purchase-est {
  height: 60px;
}
.purchase-est label {
  display: block;
}
.purchase-est-save {
  display: flex !important;
  justify-content: right;
}
.width-200 {
  width: 200px !important;
}
.width-10 {
  width: 10px !important;
}
.display-flex {
  display: flex !important;
}
.small-label {
  display: flex !important;
  align-items: center;
  margin-right: 5px;
  margin-bottom: 0 !important;
}
.w-100 {
  width: 100% !important;
}
.w-86 {
  width: 86% !important;
}
.max-w-100 {
  max-width: 100% !important;
}
.width-200 .form-control.w-100 {
  width: 100% !important;
}
.d-tab-block,
.d-mobile-block {
  display: none;
}
.desktop-padding-left-0 {
  padding-left: 0px;
}
.padding-left-5-15 {
  padding-left: 5px;
}
.padding-top-10 {
  padding-top: 10px !important;
}
.select2-width .select2 {
  width: 100% !important;
  display: flex !important;
}
.select2-width .select2 .selection,
.select-div-full .select2 {
  width: 100% !important;
}
.margin-top-5 {
  /* margin-top:5px; */
  /* recent */
  margin-top: 5px !important;
}
.margin-right-5 {
  margin-right: 5px;
}
.margin-top-10 {
  margin-top: 10px;
}
.white-bg {
  background: white !important;
}
.margin-right-0 {
  margin-right: 0px !important;
}

.min-height-65px {
  min-height: 65px;
}
#amountdetails.label-height-0 label {
  height: auto !important;
}
.input-w-100
  .select2.select2-container.select2-container--default.select2-container--above,
.input-w-100
  .select2.select2-container.select2-container--default.select2-container--below,
.input-w-100
  .select2.select2-container.select2-container--default.select2-container--focus {
  width: 100% !important;
}
.stock-ob-form .purchaseitem {
  display: block;
  margin: 12px 0;
  min-height: 50px;
}
.stock-ob-form .batch,
.stock-ob-form .quantity,
.stock-ob-form .rate,
.stock-ob-form .amount,
.stock-ob-form .stock_unit {
  width: 100%;
  max-width: 100%;
}
.stock-ob-form label {
  margin-bottom: 4px;
}
.unit-conversion-form .form-inline .form-group {
  margin-bottom: 15px;
}
.margin-top-15 {
  margin-top: 15px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.margin-bottom-26 {
  margin-bottom: 26px !important;
}
.despatch-input {
  width: 200px !important;
}
.padding-left-15 {
  padding-left: 15px;
}
.padding-y-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.padding-y-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}
.custom-form-style .filter_elem {
  margin-right: 0;
}

.custom-form-style .checkboxList li input {
  margin-right: 5px;
}
.custom-form-style .filter_elem .select2-container,
.custom-form-style .elem_block .select2-container {
  width: 100% !important;
  margin-bottom: 0;
}
.custom-form-style .filter_elem .form-control,
.custom-form-style .elem_block .form-control,
.custom-form-style .select2-search,
.custom-form-style .select2-search__field {
  width: 100% !important;
}
.custom-form-style .select2-container .select2-selection--multiple {
  min-height: 28px;
}
.custom-form-style .select2-container .select2-selection__rendered {
  min-height: 27px;
}
.custom-form-style .select2-container--default .select2-selection--single,
.custom-form-style .btn-search {
  margin-top: 0 !important;
}
.custom-form-style .row_block h4 {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.custom-form-style .search-content > div {
  display: block;
}
.nowrap-white-space {
  white-space: nowrap !important;
}

.my-0 {
  margin: 0px 0px !important;
}

.ref_block {
  display: none;
}

.text-lg {
  font-size: 1.6rem !important;
}
.text-right {
  text-align: right;
}
.error li.checkboxtype > label {
  color: #555;
}

.no-bg {
  background: none !important;
}
.bg-white {
  background-color: #fff !important;
}
.payment_due_btn {
  border-radius: 30px;
  color: #555;
}
.receipt_due_btn {
  border-radius: 30px;
  color: #555;
}

.border-0 {
  border: none !important;
}
.border-top-1 {
  border-top: 1px solid #ddd;
}
.po-add-label {
  margin-bottom: 0px;
}
.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.ledger_table,
.vendor_table {
  border: 1px solid #ddd;
}

.ledger_table thead tr th {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}
.ledger_table tbody tr td {
  border-right: 1px solid #ddd !important;
  border: none;
}

.ledger_table tfoot tr th {
  border-top: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.vendor_table thead tr th,
.vendor_table tbody tr th,
.vendor_table tbody tr td,
.vendor_table tfoot tr th {
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

/* Media Query*/

@media (min-width: 1182px) {
  .desktop-padding-right-0 {
    padding-right: 0px !important;
  }
  .desktop-only-padding-left-0 {
    padding-left: 0px !important;
  }
  .desktop-clear {
    clear: both;
  }
}
@media (min-width: 992px) and (max-width: 1181px) {
  .navbar-nav li a {
    font-size: 10px !important;
    padding: 6px;
  }
  .purchase-est {
    height: 60px;
  }
  .purchase-est label {
    display: block;
  }
  .tab-clear {
    clear: both;
  }
}
@media (min-width: 768px) {
  .desktop-display-block {
    display: block !important;
  }
}
@media (min-width: 768px) and (max-width: 1181px) {
  .tab-margin-bottom-20 {
    margin-bottom: 20px !important;
  }
  .tab-margin-bottom-0 {
    margin-bottom: 0 !important;
  }
  .d-tab-block {
    display: block;
  }
  .padding-left-5-15 {
    padding-left: 15px;
  }
  .tab-padding-left-0 {
    padding-left: 0px;
  }
  .col-sm-3.purchaseitem.despatch-item .select2 {
    width: 100% !important;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .tab-only-padding-left-20 {
    padding-left: 20px;
  }
  .tab-only-clear {
    clear: both;
  }
  .tab-only-padding-top-10 {
    padding-top: 10px !important;
  }
  .col-sm-3.purchaseitem.despatch-item .select2 {
    width: 100% !important;
  }
}
@media (max-width: 1181px) {
  .purchase-est-save {
    justify-content: center;
  }

  .despatch-input {
    width: 125px !important;
  }
  .despatch-item .select2-container {
    width: 200px !important;
  }
}
@media (max-width: 767px) {
  .mobile-clear {
    clear: both;
  }
  .mobile-margin-top-5 {
    margin-top: 5px;
  }
  .mobile-margin-right-21 {
    margin-right: 21px !important;
  }

  #login-form {
    padding: 25px;
  }
  #user .exp-list .mail-row div:first-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 70px;
  }
  .page-body {
    margin-top: 60px;
  }

  .elem_block {
    width: 100%;
  }
  .row_block .elem_block input,
  .row_block .elem_block select {
    width: 100%;
  }
  .row_block .elem_block.gsts input {
    width: 50px;
  }
  .select2-container {
    display: block !important;
  }
  .select2
    .select2-container
    .select2-container--default
    .select2-container--focus {
    width: auto !important;
  }
  .select2-selection.select2-selection--single {
    min-width: 100% !important;
  }
  .gsts .gstvalue {
    float: right;
  }
  .elem_block:after {
    content: "";
    display: block;
    clear: right;
  }
  .totalamnt {
    margin-top: 0px;
  }
  .daybook .areahold {
    width: 100%;
  }
  .mobile-margin-bottom-0 {
    margin-bottom: 0 !important;
  }
  .d-mobile-block {
    display: block;
  }
  .mobile-padding-left-5 {
    padding-left: 5px;
  }
  .mobile-w-200 {
    width: 200% !important;
  }
  .select2-mobile .select2-container {
    width: 100%;
  }
  .padding-left-5-15 {
    padding-left: 15px;
  }
  .mobile-margin-top-10 {
    margin-top: 10px !important;
  }

  .despatch-input {
    width: 200px !important;
  }
}
@media (max-width: 575px) {
  .user-select {
    float: none !important;
    padding: 10px 0px !important;
  }
  footer {
    padding: 0;
  }
  footer br {
    display: none;
  }
}

@media (max-width: 460px) {
  .balance-box .box {
    width: auto;
    font-size: 12px;
  }
  #expense .addRow .textArea-box {
    width: 100% !important;
  }

  #project .filter .col-xs-4 {
    width: 50%;
  }
  #user .addRow div {
    width: 100%;
  }
}
@media (min-width: 560px) {
  .btn-search {
    margin-top: 0px;
  }
  .sel {
    width: 200px;
  }
}
@media (min-width: 767px) {
  #user .filter ul li {
    width: 24%;
  }
  .sidebar {
    width: 250px !important;
  }
}
@media (min-width: 992px) {
  .filter label {
    margin-top: 0px;
  }
}
@media (min-width: 1024px) {
  /* #myNavbar ul li a{
        margin-top: 20px;
    } recent*/
  .action-icon-color {
    color: #686868;
  }
  a.action-icon-color:hover {
    color: #686868;
    text-decoration: none;
  }

  .attend {
    float: left;
  }
  .detailsemp h5 {
    font-size: 14px;
  }
  .attend li:first-child {
    padding-left: 50px;
    display: inline-block;
    margin-top: 0px;
  }
  .attend li {
    line-height: 70px;
  }
  .dropdown-menu {
    max-height: 80vh;
    overflow-y: auto;
  }
}
@media (min-width: 1200px) {
  .filter .date input[type="text"] {
    width: 100px;
  }
}
@media (min-width: 1280px) {
  .container {
    width: 1250px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1114px) {
  body {
    padding-top: 40px;
  }
}
#preview {
  border: 1px solid #ccc;
  padding: 10px;
  height: 800px;
  overflow: auto;
}
#myPopup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: 1;
}
#pdfViewer {
  width: 100%;
  height: 100%;
}
.clr_pal {
  width: 15px;
  height: 15px;
  margin-right: 5px;
  display: inline-block;
  border: 1px solid #c6ccc9;
}

.btn-info,
.btn-primary {
  background: var(--primary-color) !important;
  border: 1px solid var(--primary-color) !important;
  color: white;
  border-radius: 5px;
  box-shadow: none;
}
.btn-info:hover,
.btn-primary:hover {
  background: var(--primary-color) !important;
  border: 1px solid var(--primary-color) !important;
  color: white;
  box-shadow: 0px 0px 10px -1px var(--boxshadow);
  border-radius: 5px;
}
.btn-default,
.btn-search {
  background: white !important;
  border: 1px solid var(--primary-color) !important;
  color: var(--primary-color) !important;
  border-radius: 5px;
}
.btn-default:hover {
  background: white !important;
  border: 1px solid var(--primary-color) !important;
  color: var(--primary-color) !important;
  box-shadow: 0px 0px 10px -1px var(--boxshadow);
  border-radius: 5px;
}
.btn-other {
  background: var(--secondary-color) !important;
  color: white !important;
  border: 1px solid var(--secondary-color) !important;
  border-radius: 5px;
}
.btn-other:hover {
  background: var(--secondary-color) !important;
  border: 1px solid var(--secondary-color) !important;
  color: white !important;
  box-shadow: 0px 0px 10px -1px var(--boxshadow);
  border-radius: 5px;
}

.btn-default.payment_due_btn,
.btn-default.receipt_due_btn {
  border-radius: 25px;
}
.fa {
  text-decoration: none !important;
}
.py-0 {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}
.justify-content-space-between {
  justify-content: space-between;
}
.dataTables_filter input[type="search"] {
  height: 28px;
  padding: 3px 6px;
  margin-left: 0em !important;
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s,
    -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.dataTables_filter label {
  display: flex !important;
  align-items: center !important;
}

.margin-top-15 {
  margin-top: 15px;
}
.margin-left-3 {
  margin-left: 3px;
}
.margin-left-5 {
  margin-left: 5px;
}
.margin-top-50 {
  margin-top: 50px;
}
.margin-bottom-0 {
  margin-bottom: 0 !important;
}
.margin-bottom-10 {
  margin-bottom: 10px !important;
}
.margin-bottom-20 {
  margin-bottom: 20px;
}
.padding-left-15 {
  padding-left: 15px;
}
.padding-y-5 {
  padding-top: 5px;
  padding-bottom: 5px;
}

.padding-y-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.min-height-65px {
  min-height: 65px;
}
.height-60 {
  height: 60px !important;
}
.invoice-fields .select2-container {
  width: 100% !important;
}

.input-field {
  border: 1px solid #ddd;
  padding: 5px 8px;
  border-radius: 5px;
}

.newform {
  background-color: #fafafa;
  padding: 15px 10px;
  margin-top: 10px;
}

.title-padding {
  padding: 15px 0px;
}

.bill-round-off,
.bill-total-amt {
  display: flex;
  justify-content: end;
  align-items: center;
}
.bill-round-off-label,
.bill-total-amt-label {
  margin-bottom: 0px;
  margin-right: 10px;
}
.bill-round-off input {
  width: 100px;
}
.bill-total-amt-input,
.bill-total-amt-input:focus {
  border: none;
  width: 100px;
  background: none !important;
  box-shadow: none;
}
.quotation-add {
  margin: -6px 10px !important;
}

.spec .select2 {
  width: 100% !important;
}

.date-label {
  margin-bottom: 0px;
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.q-table .dataTables_wrapper .dataTables_scrollBody {
  overflow-x: hidden !important;
  border: 1px solid #ddd !important;
}

a.paginate_button.current {
  color: white !important;
}

.list-view
  .dataTables_paginate.paging_simple_numbers
  a.paginate_button.current {
  color: white !important;
}
.list-view .dataTables_paginate.paging_simple_numbers a.paginate_button:hover {
  color: white !important;
}

.icon-actions button {
  border: none;
  background: none;
}

.bg-none {
  background: none !important;
}

#fixtable_body tr td {
  vertical-align: middle !important;
}
.btn_notify:hover {
  text-decoration: none !important;
  cursor: pointer;
}
.duplicate_entries a:hover {
  text-decoration: none;
}
.table tfoot tr th,
.table thead tr th {
  z-index: 5 !important;
}
.ui-datepicker {
  z-index: 9999 !important;
}

.error-abs {
  position: absolute;
}
.error-abs .rel-error {
  position: relative;
}
.vresizing {
  resize: vertical;
}
/* .mt-20{
    margin-top:-20px;
}
.mb-20{
    margin-bottom:20px;
}   */
.flexchanges {
  display: flex;
  flex-direction: column;
}
@media (max-width: 1200px) {
  .flexchanges .select2-container {
    width: auto !important;
  }
}
@media (min-width: 991px) {
  .dst-mt-20 {
    margin-top: -20px;
  }
  .dst-mb-20 {
    margin-bottom: 20px;
  }
}
.podiv,
.poitemdiv,
.billdiv,
.billitemdiv {
  position: relative;
}
#closepo,
#closepoitems,
#closebill,
#closebillitems {
  position: absolute;
  right: 0;
  z-index: 10;
  width: 24px;
  height: 24px;
  border: 1px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 15px;
  font-weight: bold;
  cursor: pointer;
}
div#closepo:hover,
div#closebill:hover,
div#closebillitems:hover {
  background: #6a8ec7;
  color: #fff;
}
div#closepoitems:hover {
  background: #6a8ec7;
  color: #fff;
}
.element-style {
  margin-bottom: 11px;
  margin-left: 15px;
}
.notify_checkbox {
  display: flex;
  align-items: center;
  column-gap: 3px;
}
.mt3 {
  margin-top: 3px;
}
.mb-10 {
  margin-bottom: 10px;
}

/* new classes */
@media (max-width: 991px) {
  .responsive-list {
    width: 100%;
    display: grid;
    gap: 5px;
    grid-template-columns: auto auto;
  }
  .responsive-list::before {
    display: none;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  .responsive-content-base .clearfix {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }

  .dashboard-icon-buttons {
    display: flex;
    justify-content: start;
  }
}
@media (max-width: 767px) {
  .responsive-base {
    flex-direction: column;
  }
  .responsive-base .sidebar {
    width: auto;
    min-height: auto;
    padding-top: 0px;
  }
  .responsive-base .sidebar .nav-tabs {
    padding-top: 10px;
  }
  .responsive-base .sidebar .nav-tabs li {
    margin-bottom: 0px;
  }
  .responsive-base .sidebar .nav-tabs li a {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .responsive-content-base {
    padding: 15px !important;
  }
  .dashboard-buttons {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-bottom: 20px;
  }
  .dashboard-buttons a {
    margin-left: 0px !important;
  }
  .dashboard-icon-buttons {
    display: flex;
    justify-content: center;
  }
}

.releasenote_popup {
  position: fixed;
  right: 50%;
  z-index: 108;
  bottom: 25px;
  transform: translate(-50%, 0%);
  width: 50% !important;
  left: 50%;
}
.releasenote_popup .panel-body {
  max-height: 75vh;
  overflow-y: auto;
}
@media (max-width: 768px) {
  .slide_popup {
    .slide_popup,
    .releasenote_popup {
      width: auto;
      max-width: 500px;
    }
  }
}
.viewreleasenote {
  margin-left: 5px;
}
.panel-heading {
  height: 40px;
}
a.closebtn.pull-right {
  cursor: pointer;
}

.flex-changes {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  align-items: end;
}
.mt-0 {
  margin-top: 0px;
}

.modal-release {
  display: none;
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content-release {
  background-color: #fefefe;
  margin: 15% auto;
  border: 1px solid #888;
  width: 50%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.panel {
  margin-bottom: 0px;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.project-label {
  margin: auto 5px;
}
.margin-val {
  margin-bottom: 0px;
  margin-right: 5px;
}
.align-val {
  align-items: center;
}
.inlineblock {
  display: inline-block;
}

.empty-project-row {
  background-color: #a9e9ec;
  /* Add any additional styling you want to apply */
}
.disabled {
  pointer-events: none;
  opacity: 0.6;
  display: disabled;
}
.btn-default,
.btn-search {
  background: white !important;
  border: 1px solid var(--main-color) !important;
  color: var(--main-color) !important;
  border-radius: 5px;
}
.btn-default:hover {
  background: white !important;
  border: 1px solid var(--main-color) !important;
  color: var(--main-color) !important;
  box-shadow: 0px 0px 10px -1px var(--boxshadow);
  border-radius: 5px;
}

/* Common Table Styles */
table .entry-table tr th {
  background-color: var(--thead-color) !important;
  outline: 1px solid var(--border-color);
}
.td-highlight {
  background-color: var(--thead-color) !important;
  outline: 1px solid var(--border-color);
}
.custom-entry-table thead tr th {
  background-color: var(--thead-color) !important;
  outline: 1px solid var(--border-color);
}
.custom-entry-table thead tr th a {
  color: #333;
}

table tfoot tr th {
  background-color: var(--thead-color) !important;
  outline: 1px solid var(--border-color);
}

.table > thead > tr > th,
.table > thead > tr > td {
  vertical-align: middle !important;
}

.table th,
.table td {
  border-right: 1px solid var(--border-color) !important;
}
.row-data {
  background: var(--thead-color);
  border-bottom: 1px dashed var(--border-color);
  padding: 5px 5px 0 5px;
  display: flex;
  justify-content: space-between;
}
.total-table {
  margin-bottom: 0;
}

#table-wrapper {
  max-height: 400px;
  overflow-y: auto;
  margin-top: 5px;
}

.new-listing-table {
  height: 300px;
  overflow-y: auto;
}
.new-listing-table1 {
  height: 300px;
}

.new-listing-table table thead tr th {
  background-color: var(--thead-color) !important;
}

/* Buttons */
.btn-primary {
  background-color: #6a8ec7;
  border-color: #6a8ec7;
}

.btn-default {
  background-color: #f8f9fa;
  border-color: #ccc;
  color: #6a8ec7;
}

/* Panel and Wrapper Styles */
.panel-heading-tab {
  background-color: #6a8ec7;
  color: white;
  padding: 10px;
}

.entries-wrapper {
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 0px -1px 14px 5px rgba(246, 246, 255, 1);
  padding-bottom: 10px;
}

.entries-wrapper .row {
  padding: 5px 10px;
}

.summary-wrapper {
  width: 100%;
  background-color: #f6f6ff;
  padding: 10px 10px;
  display: flex;
  justify-content: end;
}

.first-wrapper,
.filter-wrapper {
  display: flex;
  align-items: center;
}

.page_filter {
  background-color: #f6f6ff;
  padding: 8px;
  border-radius: 4px;
}

.filter_elem.links_hold {
  margin-top: 0px;
  margin-left: 10px;
}

/* Spacing and Alignment */
.padding-top-0 {
  padding-top: 0px !important;
}

.padding-bottom-0 {
  padding-bottom: 0px !important;
}
.padding-bottom-5 {
  padding-bottom: 5px;
}
.ml-auto {
  margin-left: auto;
}

.margin-top-18 {
  margin-top: 18px;
}

.margin-top-25 {
  margin-top: 25px;
}

.margin-bottom-16 {
  margin-bottom: 16px;
}
.margin-bottom-17 {
  margin-bottom: 17px;
}
.margin-bottom-15 {
  margin-bottom: 15px;
}
.margin-top-20 {
  margin-top: 20px !important;
}

.margin-horizontal-10 {
  margin: 0px 10px;
}

.no-wrap {
  white-space: nowrap;
}

.no-col {
  padding-left: 15px;
  padding-right: 15px;
}

.dotted-line {
  border-bottom: 1px dotted #000;
}

.blue-dotted-line {
  border-bottom: 1px dotted #7ab5f1;
}

.divider {
  border-left: 1px dotted #000;
  height: 34px;
  margin-left: 15px;
  margin-right: 15px;
  display: inline-block;
  vertical-align: middle;
}

.w-50 {
  width: 50%;
}

.width-40 {
  width: 40%;
}

.w-50p {
  width: 50px;
}

.w-100p {
  width: 100px;
}

.w-150p {
  width: 150px !important;
}
/* Forms and Inputs */
.no-col {
  display: inline-block;
}

/* .form-control {
    width: 100%;
} */

.input-info {
  display: flex;
  white-space: nowrap;
  align-items: center;
  column-gap: 5px;
}

/* Text and Labels */
.heading-title {
  font-weight: bold;
  font-size: 18px;
  margin-right: 20px;
  padding: 10px 0px;
}

.value-label {
  padding: 5px 5px 4px 5px;
  color: #5580c5;
  background-color: #f6f6ff;
  font-weight: 700;
  width: 100%;
}

.final-section-label {
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 700;
}

.final-label-info {
  width: 100px;
}

.final-value-label {
  padding: 5px 5px 4px 5px;
  color: #5580c5;
  font-weight: 700;
  width: 100%;
  margin-right: 15px;
}

.summary {
  font-weight: bold;
}

.modal-heading-title {
  font-weight: bold;
  font-size: 18px;
  margin-right: 20px;
}

/* Legend */
.legend {
  list-style: none;
  padding-left: 0;
}

.legend li {
  float: left;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.legend span {
  border: 1px solid #ccc;
  float: left;
  width: 12px;
  height: 12px;
  margin-right: 4px;
}

/* Status Indicators */
.approval_needed {
  background-color: #ff6347;
}

.declined {
  background-color: #ffa50057;
}

.unreconciled {
  background-color: #dbeff6;
}

/* Miscellaneous */
.checkboxList {
  height: 108px;
  margin-bottom: 0px;
}

.sub-row-wrapper {
  margin: 0px -25px;
}

.project-hidden {
  display: none;
}

#content {
  margin-top: 80px;
  /* margin-bottom: 80px; */
}

/* Loader */
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  visibility: hidden;
}

.loader {
  font-size: 50px;
  color: #007bff;
  animation: spin 1.5s linear infinite;
}

.show-loader-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.show-loader-btn:hover {
  background-color: #0056b3;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Flash Message */
.flash-message {
  position: fixed;
  top: 80px;
  left: 20px;
  padding: 10px 20px;
  font-size: 12px;
  color: white;
  background-color: green;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease-in-out;
}

.flash-message.error {
  background-color: red;
}

.flash-message.success {
  background-color: green;
}

.show-message-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.show-message-btn:hover {
  background-color: #0056b3;
}

/* New Styles */
.button-icon {
  font-size: 19px !important ;
}

.report-tabs li a {
  border: none !important;
}

.report-tabs li.active > a {
  border: none !important;
  background: #f4f9ff;
  font-weight: 700;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background: #f4f9ff;
}

.pdf-table-wrapper {
  overflow: auto;
}

.tbl_holder table tr td,
.tbl_holder table tr {
  border: none !important;
}
table thead tr:first-child {
  border-top: 1px solid #ddd;
}
.entries-wrapper .nav-tabs {
  display: flex;
  justify-content: space-between;
  border: none;
  padding: 10px;
}

.entries-wrapper .nav-tabs > li {
  flex: 1;
  text-align: center;
}

.entries-wrapper .nav-tabs > li > a {
  width: 100%;
  padding: 10px;
  text-align: center;
  border: none;
  background-color: #ffffff;
  font-weight: bold;
  color: #7c7c7c;
}

.entries-wrapper .nav-tabs > li > a:hover {
  background-color: #ffffff;
}

.entries-wrapper .nav-tabs > li.active > a {
  border: none;
  color: #337ab7;
}

.entries-wrapper.nav-tabs > li.active > a:hover {
  border: none;
}

.progress {
  margin: 0px 15px 15px 15px;
}

.progress-bar-striped {
  background-size: 40px 40px;
}

.bordered-divider {
  border-top: 1px dotted #000;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-nav {
  margin-top: 20px;
}

.nav-view {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-view .nav-buttons {
  margin: 0 15px;
}

.vertical-middle {
  vertical-align: middle !important;
}
.additional-content {
  display: none;
  margin-top: 10px;
  padding: 10px;
}

.content-toggle-btn {
  cursor: pointer;
  font-size: 18px;
  margin-top: 5px;
  margin-left: 10px;
}

nav.navbar.navbar-default.navbar-fixed-top {
  background: var(--main-color);
}
#myNavbar ul li a:hover,
#myNavbar ul li a:focus,
#myNavbar ul li ul li.active a:hover,
#myNavbar ul li ul li.active a:focus {
  color: white;
}

.navbar-default .navbar-nav > li > a {
  color: #777;
  color: white;
}

/* add the class before logo and remove style padding:10px */
.logo-wrapper {
  padding: 10px;
  background: white;
}
.logo-img {
  max-height: 50px;
  max-width: 70px;
}

.sidebar a.nav-link:hover {
  color: #6a8ec7;
  border-color: transparent;
  background: transparent;
}

#content-wrapper {
  background-color: #f9f9f9;
  width: 100%;
  overflow-x: hidden;
  padding: 24px 15px;
}

.dashboard-buttons {
  padding-bottom: 16px;
}
.dashboard-buttons a.btn {
  background: #fff;
  font-size: 12px;
  text-transform: uppercase;
  padding: 12px 20px;
  font-weight: 600;
  border: 1px solid #ddd;
  display: flex;
  column-gap: 16px;
}

.tab_section.nav-tabs > li > a {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 600;
  text-align: center;
  background: #fff;
}
.tab_section.nav-tabs > li > a:hover,
.tab_section.nav-tabs li.active a,
.icon .badge,
.tab_section.nav-tabs > li.active > a {
  background-color: var(--primary-color) !important;
  color: white !important;
}

.tab_section.nav-tabs > li.active > a .badge,
.tab_section.nav-tabs > li.active > a:hover .badge,
.tab_section.nav-tabs > li.active > a:focus .badge,
.tab_section.nav > li > a:hover .badge,
.tab_section.nav > li > a:focus .badge {
  background-color: #fff;
  color: #3578b7;
}

.tab_btn span.badge {
  color: #fff;
  background-color: var(--primary-color);
  font-size: 10px;
  min-width: 25px;
  height: 25px;
  line-height: 14px;
  margin-left: 5px;
  text-align: center;
  float: right;
  padding: 6px 4px !important;
}

.dashboard-icon-buttons i.fa {
  font-size: 24px;
  color: var(--main-color);
}
.btn-default .badge {
  color: #fff;
  background-color: #373b53 !important;
}
.badge.badge_count {
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 11px;
  font-size: 10px;
  background: #ff5722;
  color: #fff;
  padding: 5px 6px;
  vertical-align: top;
  margin-left: -10px;
  margin-top: -12px;
}
a:hover,
a:focus,
a:hover i.fa {
  color: #6a8ec7;
}

.parent_row {
  background: #fff;
  padding: 20px 0px;
  font-size: 13px;
  border: 1px solid #eee;
  border-bottom: none;
  /* border-top: none; */
}
#myNavbar ul li a.dropdown-toggle:hover i,
#myNavbar ul li a.dropdown-toggle i:hover {
  color: white !important;
}
.col-sm-12.col-md-1.logo_sec {
  display: flex;
  column-gap: 10px;
}

.list-view .pager {
  margin: 16px 0 0 0 !important;
  text-align: right;
}
ul.yiiPager a:link,
ul.yiiPager a:visited {
  border: solid 1px #9aafe5;
  font-weight: bold;
  color: #0e509e;
  padding: 2px 6px;
  text-decoration: none;
}
.mb-3 {
  margin-bottom: 3px !important;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
@media (max-width: 991px) {
  .logo-wrapper {
    float: left;
  }
  .logo-img {
    max-height: 75px;
    max-width: 106px;
    padding: 10px;
    background: white;
  }
}
@media (max-width: 767px) {
  .footer-row {
    justify-content: center;
    padding: 10px;
    position: relative;
    margin: 20px 0 0 0;
  }
  .header-container {
    flex-direction: column;
    gap: 0.5rem;
  }
  .footer-row .two {
    order: 3;
  }
  .footer-row .three {
    display: flex;
    align-items: center;
    column-gap: 5px;
  }
  .footer-row .three .bg_red {
    margin: 0px !important;
  }
}
@media (min-width: 1400px) {
  .container {
    width: 1360px;
  }
}

.btn-secondary {
  color: #fff;

  background-color: #6c757d;

  border-color: #6c757d;
}

.btn-secondary:hover {
  box-shadow: 0px 0px 10px -1px var(--boxshadow);

  color: #fff;

  background-color: #6c757d;

  border-color: #6c757d;
}

.margin-left-auto {
  margin-left: auto;
}

.fw-bold {
  font-weight: 700;
}

.grandtotal td,
.grandtotal th {
  background-color: rgb(247, 240, 240) !important;
}

table thead tr th {
  text-align: center;
}

.page-body,
.nav > li > a,
.nav > li > a {
  color: #172b4d;
  font-size: 12px;
}
.btn-default.payment_due_btn,
.btn-default.receipt_due_btn {
  border-radius: 25px;
}

.final-summary-value-label {
  margin-right: auto;
  font-weight: 700;
  font-size: 16px;
}

.final-summary {
  background: #337ab7;
  color: white;
}
#releaseModal {
  color: var(--main-color);
  font-size: 13px;
}
#releaseModal .modal-body {
  max-width: 800px;
  margin: 0 auto;
}
#releaseModal h2 {
  font-size: 24px;
  font-weight: 600;
}
#releaseModal h3 {
  margin-bottom: 20px;
  text-transform: capitalize;
  font-weight: 600;
}
#releaseModal h4 {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 4px !important;
}
#releaseModal blockquote {
  border-left: 4px solid var(--primary-color) !important;
  padding: 6px 12px;
  font-size: 13px;
  background: #f6f6ff;
}

.version-modal .model-header {
  background: var(--main-color);
  display: flex;
  color: white;
  padding: 5px 15px !important;
}
.version-modal .model-header h5 {
  font-size: 18px;
}
.version-modal .modal-body {
  max-height: calc(100vh - 100px);
  overflow: auto;
}
.version-modal .close {
  margin-left: auto;
}
.version-modal .close span {
  color: white;
}
.version-modal .model {
  border: none;
}
.dashboard-icon-buttons a {
  display: inline-block;
  position: relative;
  margin-left: 16px;
  width: 30px;
}
.dashboard-icon-buttons a:hover {
  text-decoration: none;
}
.popwindow {
  position: fixed;
  top: 94px;
  left: 70px;
  right: 70px;
  z-index: 10;
  max-width: 1150px;
  margin: 0 auto;
}
.ml-auto-left-imp {
  margin-left: auto !important;
}

.zero-padding {
  padding: 0px !important;
}

.summary-wrapper-left {
  width: 100%;
  background-color: #f6f6ff;
  padding: 0px 10px;
  display: flex;
  margin-bottom: 10px;
}

.bottom-flex {
  display: flex;
  justify-content: end;
  align-items: end;
}

.column-gap-row {
  column-gap: 10px;
}

.horizontal-scroll {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

.display-inline {
  display: inline !important;
}
.mt-50 {
  margin-top: 50px;
}
.reconcil_table {
  /* overflow: scroll; */
  width: 100%;
  /* height: 500px; */
}
.unreconcil_table {
  /* overflow: scroll; */
  width: 100%;
  /* height: 500px; */
}
#project h2 {
  font-size: 24px;
  padding: 0px;
  margin: 4px 0px;
}

.btn {
  font-size: 13px !important;
}
.label-group-wrapper {
  flex-wrap: wrap;
}

.label-group {
  min-width: 150px;
  margin: 5px 0px;
}

.label-group p {
  margin: 0px;
}
.btn-sm {
  padding: 2px 5px;
}

.nav-view:hover {
  text-decoration: none;
}

.modal-body-view .row {
  padding: 5px 10px;
}
.modal-long {
  max-width: 1270px;
  width: 95%;
}

.total-value-label {
  padding: 5px 5px 4px 5px;
  color: #5580c5;
  font-weight: 700;
  width: 100px;
  text-align: right;
}
.total-value-wrapper {
  background-color: #f6f6ff;
  padding: 0px 5px;
}

.final-summary-value-label {
  margin-right: auto;
  font-weight: 700;
  font-size: 14px;
}

.final-summary {
  background: #337ab7;
  color: white;
}

.value-label-bottom {
  padding: 5px 5px 4px 5px;
  color: #5580c5;
  font-weight: 700;
}
.vendor-first-thead-row th {
  position: sticky !important;
  top: -1px;
}
.first-thead-row th {
  position: sticky !important;
  top: 0px;
}

.second-thead-row th {
  position: sticky !important;
  top: 34.14px;
}

.third-thead-row th {
  position: sticky !important;
  top: 69.28px;
}
.third-thead-rows th {
  position: sticky !important;
  top: 67.28px;
}
.child-row {
  margin: 0 -25px !important;
}
span.select2.select2-container.select2-container--default.select2-container--disabled.select2-container--focus,
span.select2.select2-container.select2-container--default.select2-container--disabled,
span.select2.select2-container.select2-container--default.select2-container--focus,
span.select2.select2-container.select2-container--default {
  width: 100% !important;
}
.first-thead-row thead th,
user .first-thead-row thead td {
  outline: 1px solid #dee1fe;
}
.second-thead-row thead th,
.second-thead-row thead td {
  outline: 1px solid #dee1fe;
}
.third-thead-row thead th,
.third-thead-row thead td {
  outline: 1px solid #dee1fe;
}
.badge.badge-selected {
  background-color: var(--primary-color) !important;
}
.weekly_tbl {
  width: 100%;
  border: 1px solid #ddd;
}

.weekly_tbl td,
.weekly_tbl th {
  padding: 6px 8px;
  border: 1px solid var(--border-color);
}

.advance_tbl {
  width: 100%;
  border: 1px solid #ddd;
}

.advance_tbl td,
.advance_tbl th {
  padding: 6px 8px;
  border: 1px solid var(--border-color);
}

.weekly-list {
  max-height: 400px;
}

.weekly-list thead th {
  background-color: #ddd;
}
.new-entry-table #parent {
  max-height: 374px;
  overflow-y: scroll;
  margin-top: 5px;
}
.page_filter.billfilter {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}
.billsheader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 0.5rem;
}

.add-btn.bills-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

#parent {
  max-height: 530px;
}
.center-content {
  display: flex;
  justify-content: space-between;
  align-items: end;
}
td span.fa {
  font-size: 15px;
  color: #2e6da4;
  margin-left: 5px !important;
}

.permission_style {
  background: #f8cbcb !important;
}

.permission_style_decline {
  background: #ffa50057 !important;
}

.company_edit_admin_approval_class {
  background: red !important;
  color: white;
}
ul.yiiPager .first,
ul.yiiPager .last {
  display: inline;
}

a.button {
  background-color: #6a8ec7;
  display: block;
  padding: 5px;
  color: #fff;
  cursor: pointer;
  float: right;
  border: 1px solid #6a8ec8;
}

.bill_class {
  background: #ff6347 !important;
}

.exp-list {
  padding: 0px;
  position: relative;
  margin-top: 25px;
}

.list-view .sorter li {
  margin: 0px;
}

#fixtable thead th,
#fixtable tfoot th {
  background-color: #eee;
}

.table {
  margin-bottom: 0px;
}

.highlight {
  background-color: #dd1035;
  color: #fff;
}

.tooltip-hiden {
  width: auto;
}

.pager .next > a,
.pager .next > span {
  float: none;
}

.pager .previous > a,
.pager .previous > span {
  float: none;
}
.large-icon {
  font-size: 20px; /* Adjust font size as needed */
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background: var(--primary-color);
  color: white;
}

a:focus {
  outline: none;
}

.tab_section.nav-tabs > li.active > a,
.tab_section.nav-tabs > li.active > a:hover,
.tab_section.nav-tabs > li.active > a:focus {
  border-bottom-color: #ddd;
  color: #333;
  background-color: #eee;
  font-weight: 700;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: white;
  background-color: var(--primary-color) !important;
  background-image: none !important;
}
.pink-txt-color {
  background-color: #c71585;
  color: white;
}
.readonly-checkbox {
  pointer-events: none; /* Prevent user interaction */
  opacity: 0.6; /* Dim the checkbox to indicate it's not editable */
}
.project-report-width {
  width: 120px !important;
}
.d-none {
  display: none;
}
.header-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  align-items: center;
}
.sub-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.btn-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 0.5rem;
}
.toast-container {
  width: 350px;
}

.toast-position-top-right {
  top: 57px;
  right: 6px;
}

.toast-item-close {
  background-image: none;
  cursor: pointer;
  width: 12px;
  height: 12px;
  text-align: center;
  border-radius: 2px;
}

.toast-item-image {
  font-size: 24px;
}

.toast-item-close:hover {
  color: red;
}

.toast-item {
  border: transparent;
  border-radius: 3px;
  font-size: 10px;
  opacity: 1;
  background-color: rgba(34, 45, 50, 0.8);
}

.toast-item-wrapper p {
  margin: 0px 5px 0px 42px;
  font-size: 14px;
  text-align: justify;
}

.toast-type-success {
  background-color: #00a65a;
  border-color: #00a65a;
}

.toast-type-error {
  background-color: #dd4b39;
  border-color: #dd4b39;
}

.toast-type-notice {
  background-color: #00c0ef;
  border-color: #00c0ef;
}

.toast-type-warning {
  background-color: #f39c12;
  border-color: #f39c12;
}

table thead tr td {
  background-color: #fff !important;
}

.table > thead > tr > th,
.table > thead > tr > td {
  vertical-align: middle !important;
}
td.log {
  word-break: break-all;
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

td.log div {
  display: flex;
  gap: 5px;
  align-items: center;
}
.filter_sec {
  display: flex;
  gap: 1rem;
  margin: 8px 0;
  align-items: center;
  padding: 0;
}

/* Ensure the scroll area takes full width */
.dataTables_wrapper {
  width: 100%;
}

.dataTables_scroll {
  overflow: hidden;
  width: 100%;
}

.dataTables_scrollHead,
.dataTables_scrollBody {
  width: 100% !important;
}

.dataTables_scrollHeadInner table {
  width: 100% !important;
  margin: 0;
}

.dataTables_scrollBody table {
  width: 100% !important;
  margin: 0;
}

@media (min-width: 576px) {
  .text-sm-right {
    text-align: right;
  }
  .text-sm-left {
    text-align: left;
  }
  .width-sm-40 {
    width: 40%;
  }
  .d-sm-block {
    display: block;
  }
  .margin-bottom-sm-16 {
    margin-bottom: 16px !important;
  }
}
@media (min-width: 769px) {
  .margin-bottom-md-16 {
    margin-bottom: 16px !important;
  }
}
.align-center {
  display: flex;
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
.status-legend {
  list-style: none;
  padding-left: 0px;
}

.status-legend li {
  float: left;
  margin-right: 10px;
}

.status-legend span {
  border: 1px solid #ccc;
  float: left;
  width: 12px;
  height: 12px;
  margin: 2px;
}

.status-legend .project_not_mapped {
  background-color: #a9e9ec;
  border: 1px solid #0f131366;
  margin-right: 4px;
}
.custom-table-head-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 10px;
}
.radio_btn .statusall:nth-of-type(2) {
  margin-left: 10px;
}
td .fa.fa-edit,
td .fa.fa-trash {
  font-size: 15px !important;
  color: #2e6da4 !important;
  margin-left: 5px !important;
}
.custom-table-responsive.table-responsive {
  max-height: 500px;
}
.page_filter .label-group {
  margin-right: 10px;
}
.tooltip-hiden .action-btn {
  pading: 1px 5px;
}
.formErrorContent {
  background-color: #333333 !important;
  border: 1px solid #ddd !important;
}
.formError .formErrorArrow div {
  display: none !important;
}
.bold {
  font-weight: bold;
}
.avoid_clicks {
  pointer-events: none;
}
.deleteclass {
  background-color: #efca92;
}
.table-height-adj {
  max-height: calc(100vh - 200px) !important;
  overflow: auto !important;
}
.total-table-new tfoot {
  position: sticky;
  background: white;
  z-index: 10;
}
.total-table-new tfoot {
  bottom: 0;
}
.text-wrap-center {
  display: flex;
  align-items: center;
}
#financialReport #parent1,
#parent2 {
  max-height: 300px;
  overflow: auto;
}
.div_color {
  background: #f7f7f7;
}
.error_count {
  font-size: 12px !important;
  color: red;
}
