table {
  border-collapse: collapse;
  width: 100%;
  font-size:13px;
}

table.head_tbl tr th,table.table tr td {
  /* border: 1px solid #ccc; */
}


.text-right{text-align:right}
.text-center{text-align:center;}
.text-left{text-align:left;}
table td,table th{
 padding:6px 10px;
}

.red-text{
 color:red;
}
.white-text{
 color:#fff;
}
.border-0{
 border-top:none;
 border-bottom:none;
}

div.address_block{
    font-size: 12px;
    text-align: justify;
    width: 400px;
    margin-left: auto;
}
.mb-2{
  margin-bottom: 1rem;
}
.mt-3{
margin-top:20px;
}

.mt-1{
  margin-top:15px;
}
.pdf_spacing{
  margin:0px 30px;
}


.head_tbl tbody tr th{
  padding:10px;        
}
.head_tbl tbody tr.h_100 th{
  height:100px !important;
}
.head_tbl tbody tr th,.head_tbl tbody tr td{
  border: 1px solid #ccc;
}
.head_tbl tbody tr.logo_sec th:nth-child(2){
  border: 1px solid #ccc;
  border-left:none;
  border-right:none;
}
.head_tbl tbody tr.logo_sec th:nth-child(3){
  border: 1px solid #ccc;
  border-left:none;
}
.head_tbl tbody tr.logo_sec th:nth-child(1)
,.head_tbl tbody tr.logo_sec td:nth-child(1){
  border: 1px solid #ccc;
  border-right:none !important;
}

.head_tbl tbody tr.logo_sec th:last-child{
  border-left:none;
  vertical-align:middle;
}
tr td.border-r0{
  border-right:1px solid #fff!important;
}
tr.no_border th:nth-child(1),tr.no_border th:nth-child(2){
  border-right:1px solid #fff!important;
  border-top:1px solid #fff!important;
}
tr.no_border th:last-child{
  border-top:1px solid transparent!important;
}
tr td.border-bottom-0{
  border-bottom:1px solid #fff !important;
}
tr.border-right-0 th:nth-child(1){
  border-right:1px solid #fff !important;
}
tr td.border-t0{
  border-top:1px solid #fff !important;
}