:root {
  --coms-primary: #845ec2;
  --coms-bg: #f6f6ff;
  --dashboard-toggle: #0072f0;
  --dashboard-bg: #e9edf0;
  --dashboard-color: #373b53;
  --dashboard-badge: #f5564c;
  --dashboard-border: #c9cdcc;
  --dashboard-popup-border: #d3d5d9;
  --dashboard-filter: #e3e7eb;
}

.logo-wrapper img {
  max-height: 50px;
  max-width: 70px;
}
.navbar-header {
  position: relative;
  align-items: center;
}
.navbar-toggle {
  margin-left: auto;
}
.coms-block {
  background: var(--coms-primary);
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  margin: 8px 0px 8px 15px;
  cursor: pointer;
}

.coms-block .coms-arrow {
  transition: transform 0.3s ease;
  font-size: 10px;
}

.coms-content {
  display: none;
  opacity: 0;
  transform: translateY(-10px);
  position: absolute;
  top: 56px;
  left: 0px;
  background-color: var(--coms-bg);
  z-index: 100;
  box-shadow: 0 0 35px 0 rgba(55, 59, 83, 0.3);
  cursor: auto;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.coms-content.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}

.coms-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.coms-item {
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  background: white;
  border: 1px solid white;
  box-shadow: 0 0 5px 0 rgba(55, 59, 83, 0.3);
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
  height: 80px;
  width: 75px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none !important;
}

.coms-item.active.current {
  background-color: var(--coms-primary);
  border: 1px solid var(--coms-primary);
}
.coms-item.active.current img,
.coms-item.active.current span {
  filter: brightness(0) invert(1);
}

.coms-item.active:hover {
  border: 1px solid var(--coms-primary);
}

.coms-item img {
  max-width: 50px;
}

.coms-item span {
  font-size: 15px;
  color: var(--coms-primary);
  font-weight: 700;
}
.coms-item.inactive {
  opacity: 0.3;
  cursor: auto;
  filter: grayscale(100%);
}

.page-wrapper-index {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

#mainSidebar {
  position: fixed;
  top: 56px;
  left: 0;
  width: 56px;
  height: calc(100vh - 100px);
  background-color: white;
  color: white;
  overflow: hidden;
  transition: transform 0.3s ease;
  z-index: 10;
  padding-top: 35px;
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  box-shadow: 1px 0 5px 0 rgba(55, 59, 83, 0.3);
}
#mainSidebar.collapsed {
  transform: translateX(-56px);
}
#sidebarToggle {
  position: fixed;
  top: 56px;
  left: 36px;
  background: var(--dashboard-toggle);
  border: none;
  color: white;
  font-size: 14px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  transition: left 0.3s ease, transform 0.3s ease;
}
#mainSidebar.collapsed + #sidebarToggle {
  left: 0px;
}
#sidebarToggle.collapsed {
  transform: rotate(180deg);
}

#dashboard-content {
  margin-top: 56px;
  margin-left: 56px;
  flex-grow: 1;
  height: calc(100vh - 100px);
  overflow-y: auto;
  transition: margin-left 0.3s ease;
}
#dashboard-content.main-sidebar-collapsed {
  margin-left: 0;
}
.dashboard-contents {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.dashboard-contents.page-navigation {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
.dashboard-contents a {
  text-decoration: none;
  color: var(--dashboard-color);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--dashboard-bg);
  height: 30px;
  width: 30px;
  font-size: 15px;
  margin: 0 auto;
  position: relative;
}
.dashboard-contents a:hover,
.dashboard-contents a:hover i,
.dashboard-contents a.active {
  background: var(--dashboard-toggle);
  color: white !important;
}
.dashboard-contents .badge {
  position: absolute;
  top: -13px;
  right: -9px;
  background-color: var(--dashboard-badge);
  color: white;
  font-size: 10px;
  border-radius: 25%;
  padding: 3px 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.dashboard-title-area {
  color: var(--dashboard-color);
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 1px 5px 0 rgba(55, 59, 83, 0.3);
  position: sticky;
  top: 0;
  background: white;
  z-index: 4;
  gap: 15px;
}
.dashboard-body {
  background-color: var(--dashboard-bg);
  color: var(--dashboard-color);
  padding: 20px;
  gap: 10px;
  display: flex;
  flex-direction: column;
}

.margin-zero {
  margin: 0px !important;
}

.dashboard-title-selects {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.dashboard-dropdown-container {
  position: relative;
  display: inline-block;
  width: 150px;
}

.dashboard-dropdown-container select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: var(--dashboard-bg);
  border: 1px solid #d3d5d9;
  border-radius: 4px;
  padding: 6px 10px;
  font-size: 14px;
  color: #1f2937;
  cursor: pointer;
  width: 100%;
  height: 28px;
}

.dashboard-dropdown-container select.calendar {
  padding: 6px 10px 6px 25px;
}

.dashboard-dropdown-container select:focus {
  outline: none;
  border-color: none;
}

.dashboard-dropdown-container::after {
  content: "▼";
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 12px;
  color: #1f2937;
  transition: transform 0.3s ease;
}

.dashboard-dropdown-container.open::after {
  transform: translateY(-50%) rotate(180deg);
}

.dashboard-dropdown-container .fa-calendar {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 14px;
  color: #1f2937;
  pointer-events: none;
}

.dashboard-top-area {
  display: flex;
  justify-content: space-evenly;
  gap: 10px;
  flex-wrap: wrap;
}

.dashboard-top-area-block {
  height: 200px;
  padding-bottom: 10px;
  background: white;
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(55, 59, 83, 0.2);
}

.dashboard-block-header {
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  width: 100%;
  padding: 5px 0px;
  border-bottom: 1px solid var(--dashboard-border);
}

#chartdiv1,
#chartdiv2,
#chartdiv3,
#chartdiv4,
#chartdiv5 {
  width: 175px;
  height: 60px;
  margin: 0 auto;
}

.dashboard-second-area {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.dashboard-area-block {
  padding-bottom: 10px;
  background: white;
  display: flex;
  flex-direction: column;
  flex: 1;
  border-radius: 5px;
  box-shadow: 0 0 5px 0 rgba(55, 59, 83, 0.2);
}

.dashboard-filter-header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  position: relative;
}

.dashboard-filter-header button {
  cursor: pointer;
  position: absolute;
  right: 0;
  transform: rotate(90deg);
  background: var(--dashboard-filter);
  height: 25px;
  width: 25px;
  margin-right: 2px;
  border: 1px solid var(--dashboard-popup-border);
  border-radius: 5px;
}

.dashboard-filter-button {
  z-index: 4;
  cursor: pointer;
}

.dashboard-filter-dropdown {
  position: absolute;
  top: calc(100% + -2px);
  right: 1px;
  background-color: #fff;
  border: 1px solid var(--dashboard-popup-border);
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0 0 50px 5px rgba(55, 59, 83, 0.2);
  z-index: 999;
  display: none;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.dashboard-filter-selects {
  display: flex;
  gap: 10px;
  flex-direction: column;
}

.dashboard-area-content {
  padding-top: 25px;
}

#chartdiv6,
#chartdiv7,
#chartdiv8,
#chartdiv9 {
  width: 100%;
  height: 250px;
  display: flex;
  flex-direction: column;
}

/* To hide logo */
.dashboard-blocker {
  height: 21px;
  z-index: 1;
  position: relative;
  width: 60px;
  background: #ffffff;
  order: 2;
}

.dashboard-empty-header {
  border: none;
  padding: 15px;
}

.dashboard-expense-graph-mobile {
  display: none;
}

.dashboard-expense-graph-mobile .dashboard-expense-graph-content {
  overflow-y: auto;
}
.dashboard-expense-graph-mobile .dashboard-expense-graph-content table {
  font-size: 12px;
  margin-bottom: 0px;
}
.dashboard-expense-graph-mobile .dashboard-expense-graph-content table thead tr th {
  background: var(--coms-bg);
}
.dashboard-direct-expense {
  font-weight: bold;
  color: #845ec2;
  background: var(--coms-bg);
}
.dashboard-indirect-expense {
  font-weight: bold;
  color: #d65db1;
  background: var(--coms-bg);
}

.dashboard-border-none {
  border: none;
}
.dashboard-table-content {
  padding: 10px 25px;
}
.dashboard-profit-loss-table {
  overflow: auto;
}
.dashboard-profit-loss-table table {
  border: 1px solid #ccc;
  font-size: 12px;
  margin-bottom: 10px;
}
.dashboard-profit-loss-table table tr th {
  background: var(--coms-bg);
}
.dashboard-profit-loss-disclaimer span {
  color: red;
}
.dashboard-profit-loss-disclaimer {
  font-style: italic;
  font-size: 12px;
  margin-bottom: 0px;
}

/* footer */
.footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background: #f8f8f8;
  z-index: 6;
  padding: 5px 25px;
  color: #1b2536 !important;
}
.footer-row a {
  color: #0072f8;
}
.footer-dev {
  background: #f5564c;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  padding: 2px 10px;
}
.footer-left {
  display: flex;
  gap: 20px;
}
.footer-version-btn {
  background-color: var(--dashboard-bg);
  border: 1px solid #d3d5d9;
  border-radius: 4px;
  padding: 4px 10px;
  font-size: 12px;
}

/* Media Queries */

@media (max-width: 767px) {
  .logo-wrapper {
    margin-left: 0px;
  }
  #mainSidebar {
    height: 100vh;
  }
  .dashboard-title-area {
    top: auto;
  }
  .dashboard-dropdown-container {
    width: 134px;
  }
  .dashboard-second-area {
    flex-direction: column;
  }
  .dashboard-expense-graph-mobile {
    display: block;
    overflow-y: auto;
    padding: 10px;
  }

  .dashboard-table-content {
    padding: 5px 15px;
  }

  .dashboard-fourth-area {
    padding-bottom: 65px;
  }

  .dashboard-expense-graph-desktop {
    display: none;
  }

  .footer-row {
    justify-content: center;
    z-index: 5;
    gap: 10px;
  }
  footer br {
    display: block !important;
  }


  .page-wrapper-index {
    height: 100%;
    overflow-y: auto;
  }
  
 

  #dashboard-content {
    flex: 1;
    
  }

  footer {
    padding: 10px;
    text-align: center;
    
  }

  footer.visible {
    transform: translateY(0);
  }

  .footer-right {
    order: 2;
    width: 100%;
  }

  .footer-left {
    order: 1;
  }
  .footer-center {
    order: 3;
  }
}
@media (max-width: 992px) {
  #dashboard-content {
    
    height: auto;
    overflow-y: unset;
  }
}

.dashboard-top-first {
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.dashboard-top-second {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.dashboard-positive {
  color:#009688;
}
.dashboard-negative {
  color:  #f44336;
}

.dashboard-top-third {
  font-size: 12px;
  text-align: center;
}
