/* Common Table Styles */
table .entry-table tr th {
  background-color: #f4f9ff !important;
}

table tfoot tr th {
  background: #fff !important;
}

.table > thead > tr > th,
.table > thead > tr > td {
  vertical-align: middle !important;
}

.table th,
.table td {
  border-right: 1px solid #ccc !important;
}

.total-table {
  margin-bottom: 0;
}

#table-wrapper {
  max-height: 400px;
  overflow: auto;
  margin-top: 5px;
}

.new-listing-table {
  height: 300px;
  overflow-y: auto;
}

.new-listing-table table thead tr th {
  background-color: #f4f9ff !important;
}

/* Buttons */
.btn-primary,
.btn-info {
  background-color: #6a8ec7;
  border-color: #6a8ec7;
  box-shadow: none;
}

.btn-default {
  background-color: #f8f9fa;
  border-color: #ccc;
  color: #6a8ec7;
}

/* Panel and Wrapper Styles */
.panel-heading-tab {
  background-color: #6a8ec7;
  color: white;
  padding: 10px;
}

.entries-wrapper {
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 0px -1px 14px 5px rgba(246, 246, 255, 1);
}

.entries-wrapper .row {
  padding: 5px 10px;
}

.summary-wrapper {
  width: 100%;
  background-color: #f6f6ff;
  padding: 10px 10px;
  display: flex;
  justify-content: end;
}

.first-wrapper,
.filter-wrapper {
  display: flex;
  align-items: center;
}

.page_filter {
  background-color: #f6f6ff;
  padding: 8px;
  border-radius: 4px;
  margin-bottom: 5px;
}

.filter_elem.links_hold {
  margin-top: 0px;
  margin-left: 10px;
}

/* Spacing and Alignment */
.padding-top-0 {
  padding-top: 0px !important;
}

.padding-bottom-0 {
  padding-bottom: 0px !important;
}

.ml-auto {
  margin-left: auto;
}

.margin-top-18 {
  margin-top: 18px;
}

.margin-top-25 {
  margin-top: 25px;
}

.margin-bottom-16 {
  margin-bottom: 16px;
}

.margin-top-20 {
  margin-top: 20px;
}

.margin-horizontal-10 {
  margin: 0px 10px;
}

.no-wrap {
  white-space: nowrap;
}

.no-col {
  padding-left: 15px;
  padding-right: 15px;
}

.dotted-line {
  border-bottom: 1px dotted #000;
}

.blue-dotted-line {
  border-bottom: 1px dotted #7ab5f1;
}

.divider {
  border-left: 1px dotted #000;
  height: 34px;
  margin-left: 15px;
  margin-right: 15px;
  display: inline-block;
  vertical-align: middle;
}

.w-50 {
  width: 50%;
}

.width-40 {
  width: 40%;
}

.w-50p {
  width: 50px;
}

.w-100p {
  width: 100px;
}

.w-150p {
  width: 150px !important;
}
/* Forms and Inputs */
.no-col {
  display: inline-block;
}

/* .form-control {
    width: 100%;
} */

.input-info {
  display: flex;
  white-space: nowrap;
  align-items: center;
  column-gap: 5px;
}

/* Text and Labels */
.heading-title {
  font-weight: bold;
  font-size: 18px;
  margin-right: 20px;
  padding: 10px 0px;
}

.value-label {
  padding: 5px 5px 4px 5px;
  color: #5580c5;
  background-color: #f6f6ff;
  font-weight: 700;
  width: 100%;
}

.final-section-label {
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 700;
}

.final-label-info {
  width: 100px;
}

.final-value-label {
  padding: 5px 5px 4px 5px;
  color: #5580c5;
  font-weight: 700;
  width: 100%;
  margin-right: 15px;
}

.summary {
  font-weight: bold;
}

.modal-heading-title {
  font-weight: bold;
  font-size: 18px;
  margin-right: 20px;
}

/* Legend */
.legend {
  list-style: none;
  padding-left: 0;
}

.legend li {
  float: left;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

.legend span {
  border: 1px solid #ccc;
  float: left;
  width: 12px;
  height: 12px;
  margin-right: 4px;
}

/* Status Indicators */
.approval_needed {
  background-color: #ff6347;
}

.declined {
  background-color: #ffa50057;
}

.unreconciled {
  background-color: #dbeff6;
}

/* Miscellaneous */
.checkboxList {
  height: 108px;
  margin-bottom: 0px;
}

.sub-row-wrapper {
  margin: 0px -25px;
}

.project-hidden {
  display: none;
}

#content {
  margin-top: 56px;
  margin-bottom: 0px;
}

#content > .container {
padding-bottom: 80px;
padding-top:20px;
}

/* Loader */
.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  visibility: hidden;
}

.loader {
  font-size: 50px;
  color: #007bff;
  animation: spin 1.5s linear infinite;
}

.show-loader-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.show-loader-btn:hover {
  background-color: #0056b3;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Flash Message */
.flash-message {
  position: fixed;
  top: 80px;
  left: 20px;
  padding: 10px 20px;
  font-size: 12px;
  color: white;
  background-color: green;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 9999;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s ease-in-out;
}

.flash-message.error {
  background-color: red;
}

.flash-message.success {
  background-color: green;
}

.show-message-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.show-message-btn:hover {
  background-color: #0056b3;
}

/* New Styles */
.button-icon {
  font-size: 19px;
}

.report-tabs li a {
  border: none !important;
}

.report-tabs li.active > a {
  border: none !important;
  background: #f4f9ff !important;
  font-weight: 700;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  background: #f4f9ff;
}

.pdf-table-wrapper {
  overflow: auto;
}

.tbl_holder table tr td,
.tbl_holder table tr {
  border: none !important;
}

.entries-wrapper .nav-tabs {
  display: flex;
  justify-content: space-between;
  border: none;
  padding: 10px;
}

.entries-wrapper .nav-tabs > li {
  flex: 1;
  text-align: center;
}

.entries-wrapper .nav-tabs > li > a {
  width: 100%;
  padding: 10px;
  text-align: center;
  border: none;
  background-color: #ffffff;
  font-weight: bold;
  color: #7c7c7c;
}

.entries-wrapper .nav-tabs > li > a:hover {
  background-color: #ffffff;
}

.entries-wrapper .nav-tabs > li.active > a {
  border: none;
  color: #337ab7;
}

.entries-wrapper.nav-tabs > li.active > a:hover {
  border: none;
}

.progress {
  margin: 0px 15px 15px 15px;
}

.progress-bar-striped {
  background-size: 40px 40px;
}

.bordered-divider {
  border-top: 1px dotted #000;
  margin-top: 20px;
  margin-bottom: 20px;
}

.btn-nav {
  margin-top: 20px;
}

.nav-view {
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-view .nav-buttons {
  margin: 0 15px;
}

.vertical-middle {
  vertical-align: middle !important;
}
.additional-content {
  display: none;
  margin-top: 10px;
  padding: 10px;
}

.content-toggle-btn {
  cursor: pointer;
  font-size: 18px;
  margin-top: 5px;
  margin-left: 10px;
}

.margin-left-auto {
  margin-left: auto;
}

.fw-bold {
  font-weight: 700;
}

.grandtotal td {
  background-color: rgb(247, 240, 240) !important;
}
table thead tr th {
  text-align: center;
}

/* .report-tabs li.active > a { add !important for bg 
table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td add vertical-align:middle


remove

td .fa {
    margin-right: 3px;
}
*/

.label-group-wrapper {
  flex-wrap: wrap;
}

.label-group {
  min-width: 150px;
  margin: 5px 0px;
}

.label-group p {
  margin: 0px;
}

.btn-sm {
  padding: 2px 5px;
}

.nav-view:hover {
  text-decoration: none;
}

.modal-body-view .row {
  padding: 5px 10px;
}

.modal-long {
  max-width: 1270px;
  width: 95%;
}

.total-value-label {
  padding: 5px 5px 4px 5px;
  color: #5580c5;
  font-weight: 700;
  width: 100px;
  text-align: right;
}

.total-value-wrapper {
  background-color: #f6f6ff;
  padding: 0px 5px;
}

.final-summary-value-label {
  margin-right: auto;
  font-weight: 700;
  font-size: 14px;
}

.final-summary {
  background: #337ab7;
  color: white;
}

.value-label-bottom {
  padding: 5px 5px 4px 5px;
  color: #5580c5;
  font-weight: 700;
}

.zero-padding {
  padding: 0px !important;
}

.summary-wrapper-left {
  width: 100%;
  background-color: #f6f6ff;
  padding: 0px 10px;
  display: flex;
  margin-bottom: 10px;
}

.bottom-flex {
  display: flex;
  justify-content: end;
  align-items: end;
}

.column-gap-row {
  column-gap: 10px;
}

.horizontal-scroll {
  display: block;
  overflow-x: auto;
  white-space: nowrap;
}

.display-inline {
  display: inline !important;
}

.child-row {
  margin: 0 -25px !important;
}

.badge.badge-selected {
  background-color: var(--primary-color) !important;
}

/* New for estimation */

.content-div,
.table-div {
  display: none;
}

.sticky-thead {
  top: 0;
  position: sticky;
  z-index: 100;
}
.sticky-tfoot {
  bottom: 0;
  position: sticky;
  z-index: 100;
}
.sticky-thead tr th {
  outline: 1px solid #ddd;
  box-shadow: inset 0 1px 0 0 #ddd;
}

.report-table-wrapper {
  max-height: 545px;
  overflow: auto;
  margin-top: 5px;
}

.left-first-th-sticky {
  position: sticky;
  left: 0px;
  min-width: 50px;
  max-width: 50px;
  z-index: 100;
}
.left-second-th-sticky {
  position: sticky;
  left: 50px;
  min-width: 120px;
  max-width: 120px;
  z-index: 100;
}
.left-third-th-sticky {
  position: sticky;
  left: 170px;
  min-width: 120px;
  max-width: 120px;
  z-index: 100;
}
.left-first-sticky {
  position: sticky;
  background: #bfd6f1;
  left: 0px;
  min-width: 50px;
  max-width: 50px;
  box-shadow: inset 1px 0 0 0 #ddd, inset -1px 0 0 0 #ddd;
}
.left-second-sticky {
  position: sticky;
  background: #bfd6f1;
  left: 49px;
  min-width: 120px;
  max-width: 120px;
  box-shadow: inset 1px 0 0 0 #ddd, inset -1px 0 0 0 #ddd;
}
.left-third-sticky {
  position: sticky;
  background: #bfd6f1;
  left: 168px;
  min-width: 20px;
  max-width: 120px;
  box-shadow: inset 1px 0 0 0 #ddd, inset -1px 0 0 0 #ddd;
}

.bottom-create {
  display: flex;
  justify-content: end;
  align-items: end;
  margin-right: 10px;
  padding-bottom: 15px;
}

@media (min-width: 1600px) {
  .container {
    width: 1500px;
  }
}
