body{
	height:100%;
	font-size:12px;
	
}
*{
	outline:none;
}
h1,h2,h3,h4,h5,h6{
	margin:0px;
}
nav .dropdown{
	float: right;	
	margin: 16px 10px;
}
.page-wrapper{
	padding-bottom: 80px;
}
.page-body,.nav > li > a, .nav > li > a{
	color:#5e5e5e;
}
.page-body{
	margin-top:70px;
}
.page-body h3{
	margin: 3em 0em 1em;
	text-align: center;
	color: #fff;
}
#login-form{
	display: table;
    background: #fff;
    border: #111;
    border-radius: 15px;
    margin: 0 auto;
    padding: 35px;
    text-align: left;
}
#login-form input[type="text"],#login-form input[type="password"]{
	width: 250px;
    display: block;
    margin-bottom: 6px;
    border-radius: 4px;
    border: 1px solid #ededed;
    padding: 8px;
}
#login-form .row{
	margin: 10px 0px;
}
#login-form input[type="submit"] {
    background: #5ca2e8;
    color: #fff;
    margin-bottom: 6px;
    border-radius: 4px;
    border: 1px solid #ededed;
    padding: 8px 25px;
}
#login-form input[type="submit"]:hover {
    background: #408cd8;
}
span.required {
    color: red;
}
.errorMessage {
    color: red;
}
.rememberMe{
	float: right;
}
#login footer {
    color: #fff;
    background: none;
}
.navbar{
	margin-bottom: 0px;
}

.navbar-header{
	padding-left: 10px;
	padding-right: 10px;
}
.navbar{
	margin-bottom:48px;
}
.navbar-toggle {
	margin-right: 0px;
}

#myNavbar ul li a{
	padding-bottom: 5px;
    padding-top: 5px;
    /* line-height: 60px; */
    margin-top: 20px;
	border: 1px solid #fff;
}
.user-select{
	padding: 5px 15px 0px 0px;
    float: right;
}

.list-project{
	padding-top: 20px;
}

.page-body #myNavbar ul li a{
	padding:10px;
}
.balance-box{
	margin: 1.5em 0em;
}
.balance-box .box{
	display: block;
	padding:5px 10px;
	max-width: 200px;
	border: 2px solid #ccc;
	margin: 0 auto;
	font-size: 14px;

}
.box-hold{
	margin: 10px 0px;
}
h4{
	margin: 15px 0px !important;
}
.project-table .row,.activity-table .row,.exp-list .row{
	padding: 10px 0px;
	background: #f7f8f7;
	border-bottom: 1px solid rgba(141, 176, 232, 0.25);
	border-top:1px solid #fff;
}
.row-hold{
	margin: 1px 10px;
	cursor:pointer;
	
}
.nav > li > a:hover, .nav > li > a:focus,.active{
    text-decoration: none;
}
.modal-header {
	padding: 0px 15px;
	background: #f5f5f5;
}


/*Expense Page*/
#expense h4{
	margin: 15px 0px;
}
.filter label,.addRow label{
	display: block;
	margin-top: 10px;
}

.filter input[type="text"],.filter select,.addRow input[type="text"],.addRow select{
		width: 100%;
	}
.filter .date input[type="text"]{
		width: 80px;
		margin-top: 2px;
	}
.filter select,.addRow select{
	padding: 2.5px 0px;
}
.filter,.addRow{
	margin: 10px 0px;
    border: 1px solid #698ec8;
    padding: 10px;
}
.filter ul{
	padding-left:0px;
	padding-right:0px;
}
.addRow{
	border: 0px;
}
.addRow textarea{
	width: 100%;
    height: 80px;
}
.add-box{
	border: 1px solid #ccc;
	margin-bottom: 10px;
}
.add-btn{
	text-align: right;
	margin-bottom: 10px;
}
.add-btn button{
	background: #6a8ec7;
    border-radius: 4px;
    color: #fff;
    font-weight: normal;
    font-size: 15px;
	border-width: 2px;
    border-color: #698ec8;
}
#expense .filter{
	padding: 10px;
}
.modal-body .row {
	background: #fff;
}

.exp-list{
	padding-right: 15px;
	padding-left: 15px;
}
.exp-list .fa{
	margin: 2px;
	cursor: pointer;
}

.modal .save-btnHold button,.modal .save-btnHold input{
	background: #ccc;
}
.modal .save-btnHold button:hover,.modal .save-btnHold input:hover{
	background: #fff;
}
.modal-footer {
    padding: 15px;
    text-align: center;
    border-top: 0px;
}
.btn-go{
	margin: 10px 0px 2px;
}
.modal .filter{
	padding: 10px;
}
/*Project Page*/

#project .addRow input[type="text"]{
	width: 100%;
}
.checkboxList{
    list-style-type: none;
    padding-left: 0px;    
    border: 1px solid #CCC;
    overflow-y: scroll;
    height: 100px;
}
.checkboxList li{
	padding-left: 10px;
	display: flex;
}
.checkboxList li:first-child{
	background: #ccc;
}
.modal-header button{
	padding : 10px;
}
#project .filter input[type="text"]{
		width: auto;
	}
#project .filter {
	padding-left: 10px;
}

/*Use Page*/
#user .filter ul{
	width: 100%;
	margin: 0 auto;
}
#user .filter ul li{
	width: 49%;
}

#user .modal input[type="text"],#user .modal select,#user .modal input[type="password"]{
	width: 100%;
}
#user .filter label{
	display: inline-block;
}
#user .btn-go{
	margin-left: 1em;
}


/*Footer*/
footer {
    text-align: center;
    padding: 5px 0px;
    font-size: 12px;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ededed;
}
footer a{
   color: #8a8787;
}
.modal-footer .del-btn{
	background: #ccc;
    color: #5e5e5e;
    font-size: inherit;
    padding: 1px 6px;
    border: 2px outset buttonface;
    border-radius: 0px;
}
.modal-footer .del-btn:hover{
	background: #fff;
}
.del-btn{
background: #ccc;
    color: #5e5e5e;
    font-size: inherit;
    padding: 1px 6px;
    border: 2px outset buttonface;
    border-radius: 0px;
}
.del-btn:hover{
	background: #fff;
}
@media (max-width:767px){
	.page-body h3 {
	    margin: 5em 0em 1em;
	}
	#login-form {
		padding: 25px;
	}
	#user .exp-list .mail-row div:first-child{
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		max-width: 70px;
	}
	.user-select{
		float: none !important;
		padding: 10px 0px !important;
	}
	.page-body{
		margin-top: 60px;
	}
}
@media (max-width:850px){
	.page-body{
		margin-top: 105px;
	}
}

@media (max-width:460px){
	.balance-box .box{
		width: auto;
		font-size: 12px;
	}
	#expense .addRow .textArea-box{
		width: 100% !important;
	}

	#project .filter .col-xs-4{
		width: 50%;

	}
	#user .addRow div{
		width: 100%;
	}
}
@media(min-width: 767px){
	#user .filter ul li{
		width: 24%;
	}
	
}
@media(min-width: 992px){
	.filter label {
	    margin-top: 0px;
	}
	
	
}
@media(min-width: 1200px){
	
	.filter .date input[type="text"]{
		width: 100px;
	}
}

/*New*/
.modal p.note{
	padding:0px;
    text-align:center;
}
div.form label {
	font-size: 100%;
}
.modal .radio_btn label{
	display: inline-block;
	    margin-right: 10px;
}
.modal .radio_btn1 label{
	display: inline-block;
	    margin-right: 5px;
}
.fa-edit{
	float: right !important;
}
h2{
padding:15px 0px;
}
.modal-open .calendar{
z-index:1050;
}
.modal-content{
width:350px;
display:table;
}

#projectform .modal-content{
   width:550px !important; 
}
.list_item{
	font-size:13px;
	font-weight:normal;
	color:#333;
}
.list_item span{
	color:#888;
}

/* pager styles */
ul.yiiPager a:link, ul.yiiPager a:visited {
    border: solid 1px #698ec8  !important;
    font-weight: bold;
    color: #555 !important;
    padding: 1px 6px;
    text-decoration: none;
}

ul.yiiPager .selected a {
    background: #6a8ec7!important;
    color: #FFFFFF !important;
    font-weight: bold;
} 

@media (min-width:300px){

	.modal-dialog, .modal-lg{
		width:350px;
	}
}
#settings .table{
	width:95%;
	    margin-top: 1em;
}
#settings .table thead tr th:last-child,
#settings .table tbody tr td:last-child
{
	text-align:right;
}
.userform .row{
	padding-top:0px !important;
	padding-bottom:0px !important;

}

a#download {
    background-color: #6a8ec7;
    display: block;
    padding: 5px;
    color: #fff;
    border: 1px solid #6a8ec8;
}

/*created by athira*/
table.exptable
{ 
	width:80%;
}
.exptable td,.exptable th
{
	width:100px;
}
table.exptable1
{ 
	width:50%;
}
.exptable1 td,.exptable1 th
{
	width:100px;
}
table.projtable
{ 
	width:100%;
	border:1px solid gray;
	border-collapse:collapse;
}
.projtable td,.projtable th,.projtable tr
{
	border:1px solid gray;
	border-collapse:collapse;
	
}
.projtable th
{
	text-align:center;
}
.contentdiv
{
	background: #f7f8f7;
	padding: 25px 0px;
}
.maindiv
{
	margin-left:250px;
	margin-right:250px;
}