/* 
    Document   : style
    Created on : Sep 19, 2012, 12:54:33 AM
    Author     : Bala
    Description:
        Custome changes and styles
*/


#Clients_status label, #Projects_billable label,
#Projects_status label, #Tasks_billable label, #TimeEntry_billable label,
#Users_status label, #Biddings_worktype label, div.radio_btn span label
{
    display: inline; 
    margin-right: 10px; 
    font-weight: normal;
}

.subrow{
    float:left;
    margin-right:20px;
}

.ajaxLoading
{
    background-image:url("loading.gif");
    background-repeat: no-repeat;
}

#loading_status{
    width:20px;
    height: 20px; 
    float:left;
    width: 295px;
}

#ajxerr
{
    color:red;
    float:left;
    margin-left:20px;
    line-height: 60px;
}

table.timehours{
    border:1px solid #0066A4;
    border-collapse: collapse;
}

table.timehours td, table.timehours th{
    border:1px solid #0066A4;
}

.tbl_title, .tr_title td{
    font-weight: bold;
}

div.timesheet_nav{
    float:right;
    width:60%;
    text-align: right;
    position: relative;
}

div.titleh3{
    float:left;
}

span.username, h2 span, h3 span, h4 span
{
    color:#0066A4;
    font-style: italic;
}

table.timehours thead th {
    background: url("bg.gif") repeat-x scroll left top white;
    color: white;
    text-align: center;
}

table.items tr.odd {
    background: none repeat scroll 0 0 #E5F1F4;
}

table.timehours tr.odd {
    background: none repeat scroll 0 0 #E5F1F4;
}

table.timehours tr.even {
    background: none repeat scroll 0 0 #f8f8f8;
}

table.timehours tr.totaltr, th.totaltr {
    background: none repeat scroll 0 0 #dfd;
}

span.client_project_name
{
    font-size: 11px;
    font-style: italic;
    float:right;
    margin-right: 10px;
}

.hidelink
{
    display:none;
}
.currentweek{
    font-weight:bold;
}

.ajaxprogloader{
    display:none;
    text-align: center;
}
div.addlink{
    float:right;
    line-height: 15px;
    line-height: 20px;
    width:50%;
    font-size: 20px;
    text-align: right;
    padding-right: 100px;
}

a.edittime
{
    cursor: pointer;
}

#content
{
    min-height:300px;
}

div.loading {
    text-align: center;
    background-image: url('../images/ajax-loader.gif');
    background-position:  center center;
    background-repeat: no-repeat;
    opacity: 1;
}
div.loading * {
    opacity: .8;
}


#dashboard{
    border:1px solid #f2f2f2;
    /* width:333px;*/
    width:265px;;
    margin:20px;
    float:left;
    text-align:center;
    border-radius: 25px;
}

.today_summary{
    border: 1px solid #C2C2C2;
    float: left;
    height: 347px;
    margin:20px;
    overflow: hidden;
    width: 263px;
}
.week_sum_heading{
    font-weight: bold;padding: 8px;border-bottom:1px solid #c2c2c2;
}
.today_summary .portlet{
    border-bottom: 0px !important;
    padding-bottom: 0px;
}

.today_summary .portlet-content{
    padding: 0 !important;
}

.dash_work_overview
{
    line-height:15px;
    border-bottom:1px solid #c2c2c2;
    margin-bottom:10px;
    min-height: 40px;
}
.qk_desc
{
    margin: 5px;
    width: 304px;
}
.date_qk_smy
{
    background-color: #F2F2F2;
    font-weight: bold;
    line-height: 26px;
    text-align: center;
}
.hrs_box{
    background-color: #F2F2F2;
    float: right;
    font-weight: bold;
    height: 16px;
    padding: 5px;
    position: relative;
    width: 28px;
    z-index: 3;
    margin-top: 5px;
}


.dash-summary{
    /*width:250px;*/
    /*min-height:315px;*/
    /*border:1px solid #c2c2c2;*/
    float:left;
    margin-top: 0px;
}

.dash-summary ul li
{
    float:left;
    border-radius: 10px;
}


.dicons {
    background-color: #F9F9F9;
    border: 1px solid #C2C2C2;
    border-radius: 20px 20px 20px 20px;
    display: block;
    float: left;
    font-size: 11px;
    height: 55px;
    margin: 3px;
    padding: 4px;
    text-align: center;
    width: 50px;
}


.dicons:hover{
    background-color: #f1f1f1;
}    

.dblink
{
    margin-top:5px;
    font-weight: bold;
}

img.dasimage {
    height: 30px;
    width: 30px;
}

td.bold
{
    font-weight:bold;
    font-size:12px;
}

#left_sub_icons
{
    height: 200px; 
    background-color: #c2c2c2;
    width:50px;
    left: 0;
    position: fixed;
    top: 50%;
    padding-top: 10px;
    text-align: center;
    z-index: 100;
    margin-top: -120px;    
}


/*Dashboard notification */
.menu li {
    background-color: #E5F1F4;
    /* clear: both;*/
    position: relative;		  
    list-style: none;
    margin: 0px 5px 10px 5px;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
}

.menu a {
    padding: 8px 10px;
    font: bold 12px Arial, Helvetica;
    text-decoration: none;
    line-height:15px;
    display: block;
}

.menu a:hover {
    color: #fafafa;
}

.menu li:first-child a
{
    -moz-border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    border-radius: 5px 0 0 5px;
}

.menu .bubble
{
    background: #e02424;  		
    position: absolute;
    right: 10px;
    top: -15px;
    padding: 4px 10px;
    color: #fff;
    font: bold .9em Tahoma, Arial, Helvetica;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 14px;
}

.menu .greenbub
{
    background: green !important;  		
}

#price_preview {
    margin-top: 5px;
    position: absolute;
    top:300px;
    padding: 5px;
    float:right;
    right:25px;
    min-width:140px;
    border:1px solid #E5E5E5;
    background: none repeat scroll 0 0 #F1F1F1;
    min-height: 50px;
}

#price_preview.fixed {
    position: fixed;
    top: 0;
}

.pay_tskitem{
    background-color:#f5f5f5;
    border:1px solid #e2e2e2;
    padding:5px;
    margin-top:5px;
}

div.pay_tskitem div
{
    float:left;
    margin-left:5px;
    float:left;
}

.loading{
    width:200px;
}

#tasks_lists label{
 display: block;
 width: 100%;
 cursor: pointer;
}

#tasks_lists{
    border: 1px solid #B2B2B2;
    max-height: 250px;
    overflow: scroll;
    width: 500px;
    min-height: 100px;
}

.remarkitems
{
    border: 1px solid #B2B2B2;
    padding:10px;
    margin: 5px;
    background-color: #f9f9f9;
    width:500px;
}

tfoot tr{
    background-color: #bdf;
    border:1px solid red;
    font-weight: bold !important;
}

.calendar{z-index: 10 !important;}

.par_close_overlay{
    position: absolute;
    right:10px;
    z-index: 10;
    top:20px;
}

.maindiv{
    /*border: 1px solid #ccc;*/
    border-radius: 10px;
    -moz-box-shadow:    1px 1px 2px 3px #f3f3f3;
    -webkit-box-shadow: 1px 1px 2px 3px #f3f3f3;
    box-shadow:         1px 1px 2px 3px #f3f3f3;
    overflow: hidden;
    min-height: 500px;
    
}
.left_sidebar{
    padding-top: 10px;
    float: left;
    width: 200px;
    display: block;
    border-right: 1px solid #dddddd;
    min-height: 500px;
    height: 500px;
    overflow-y: scroll
}
.left_sidebar li{
    list-style: circle;
    display: block;
    padding: 10px;
    cursor: pointer;
    
}
.left_sidebar li.active{
    background: #5da1c9; 
    color: #FFFFFF;
}
.left_sidebar li:hover{
    background: #e5f1f4;
    color: #000000;
}
.left_sidebar li.newgroup{
    background: #EAEAEA; 
    color: #000000;
}
.right_sidebar{
    display: inline-block;
    width: auto;
    padding: 10px;
    margin-left:50px;
}

.form_field {
    padding: 8px 20px;
    margin: 0px 30px 10px 0px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width:100%;
}
.form_field_textarea{
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 500px;
    height: 100px;
    margin-left:20px;
}
.fieldlist li{
    float: left;
    list-style: none;
    display: inline-block;
    margin-bottom: 10px;
}
.form_field_button{
    background-color: #5da1c9; 
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}


.form_field_button:hover {
    box-shadow: 0 3px 10px 0 rgba(93, 161, 201, 0.39), 0 5px 10px 0 rgba(0,0,0,0.19);
}
.memberslist{
    margin-top: 20px;
}
.memberslist table{
    border: 1px solid #efefef;
    
}
.add_button{
    background-color: #088e06; 
    border: none;
    color:#EAEAEA;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}
.add_button:hover{
    color: white;
}
.add_button_mem{
    background-color: #088e06; 
    border: none;
    color:#EAEAEA;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}
.add_button_mem:hover{
    color: white;
}

.grouperror{
    color: #000000; 
    text-align: center; 
    display: none; 
    padding: 20px; 
    line-height: 30px;
    font-size:14px; 
    margin-left: 10px;
}

.error{
     color: #de4343;
}

.success{
     color: #088e06;
}
.memberbtn{
   display: inline-table;
}
.memberbtnhide{
    visibility: hidden;
}

.cursor{
    cursor: pointer;
}

/* create user */
.block_left{
    padding-top: 10px;
    float: left;
    display: block;
	width:40%;
}
.block_right{
    display: inline-block;
    width: 60%;
    /*padding: 20px;
    margin-left:50px;*/
}

.boxgroup{
    display: block;
    width: 200px;
    min-height: 200px;
    height: 150px;
    overflow-y: scroll; 
    border: 1px solid #DEDEDE;
    /*padding: 10px;*/
}
.boxgroup li{
    list-style:none;
    
}
.boxgroup .input{
    padding:10px;
    vertical-align: text-bottom;
    bottom: 1px;
}

.boxgroup .input + .label{
    display:inline-block;
/*   margin: 5px;*/
    width: auto;
}
.boxgroup .label{
/*    margin: 5px;*/
    margin-bottom:8px;
    
}
.group_form{
   /* margin-left: 20px;*/
}


/*time sheet detail*/ 

.sheetcontainer{
    border: 1px solid #ECECEC;
    min-height: 500px;
}
.sheettop {
    display: inline-block;
    border-bottom: 3px solid #ECECEC;
    width: 100%;
    align-content: center;
}
h3.headtime {
    float: left;
    margin-top: 2%;
    align-content: center;
    margin-left: 18%;
    font-size: 30px;
    display: inline-block;
}
span.sheetdate {
    display: inline-block;
    font-size: 16px;
    float: right;
    margin-right: 40px;
    display: inline-block;
}
.headsheet {
    text-align: center;
    font-size: 18px;
    padding-top: 20px;
}
span.sheetusername {
    float: left;
    text-align: left;
    padding-left: 40px;
    font-size: 16px;
    display: inline-block;
}
.sheetdetial.clearfix{
    padding-top: 27px;
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
}
tr.tbdate {
    font-size: 15px;
}
tr.tbdate {
    font-size: 15px;
    background: #E7F9EB;
}
.buttonlist {
    text-align: center;
    padding-bottom: 20px;
}
.form_field_decline_button{
    background-color: #D86C6C;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    border-radius: 4px;
}
/***time sheet detail ***/

/*** userslist style******/
.usershead{
    display: inline-block;
    width: 100%;
}
.userhead{
    display: inline-block;
}
.userbtn{
    display: inline-block;
    float: right;
}
.userlist{
    width: 50%;
    float: left;
    height: 6%;
}
.projectleads.clearfix{
    height: 500px;
}
/*** userslist style******/
/*time sheet detail page comment section*/
.commentsection {
    padding: 0px 90px 0px 90px;
}
.comments {
    display: inline-block;
}
.comment {
    display: inline-block;
}
span.commentdate {
    display: inline-block;
}
.input_group {
    padding: 8px 0px;
}
textarea.input-control {
    height: auto;
    min-height: 70px;
    display: block;
    width: 100%;
    height: 32px;
    padding: 6px 8px;
    font-size: 13px;
    line-height: 1.428571429;
    color: #656565;
    vertical-align: middle;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    font-family: 'Lato', sans-serif;
}
.righttext {
    text-align: right;
}
.message_time {
    font-size: 12px;
    padding: 4px 0px;
}
.message_content_holder {
    border: 1px solid #dfdfdd;
    padding: 10px 15px;
    position: relative;
    margin-top: 20px;
    /* width: 50%;*/
}
.message_time {
    font-size: 12px;
    padding: 4px 0px;
    display: inline-block;
    width : 50%;
}
.message_left.message_content_holder:before {
    content: "";
    position: absolute;
    border-right: 10px solid #dfdfdd;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    left: -11px;
    top: 12px;
}
 .message_left.message_content_holder:after {
    content: "";
    position: absolute;
    border-right: 10px solid #fff;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    left: -10px;
    top: 12px;
}

.pull_left {
    display: inline-block;
    float: left;
}
.pull_right {
    display: inline-block;
    float: right;
    padding-left: 33%;
}
.message_right.message_content_holder.righttext {
    float: right;
}
.clearfix.message_time.rightcontent {
    float: right;
}
.message_right.message_content_holder:before {
    content: "";
    position: absolute;
    border-left: 10px solid #dfdfdd;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    right: -11px;
    top: 12px;
}
.message_right.message_content_holder:after {
    content: "";
    position: absolute;
    border-left: 10px solid #fff;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    right: -10px;
    top: 12px;
}
.pull_right_padding {
padding-left: 84% !important;
}

.span_status {
    background-color: #629433;
    border-radius: 15px;
    color: #fff !important;
    float: right;
    font-size: 14px;
    font-weight: bold;
    padding: 6px 10px 7px 10px;
    margin-bottom: 10px;
}
.viewless{
cursor:pointer;float:right;margin-right: -10px;
}
/*time sheet detail page comment section*/




/*timeentry submit report button */
.submitrepot {
    text-decoration: none;
    color: #fff;
    border: none;
    background-color: #5DA1C9;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.submitrepot:hover {
    text-decoration: none;
    color: #fff;
    border: none;
    background-color: #5DA1C9;
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}
.successsheet{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    margin-top: 18px;
    width: 50%;
}
a.closesheet {
    text-decoration: none !important;
    font-size: 18px !important;
    line-height: 1.2;
    float: right;
    font-size: 21px;
    font-weight: 700;

    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
    background-color: transparent;
    cursor: pointer;
}



.fieldbutton.form_field_button.timereport {
    margin-bottom: 10px;
    margin-right: 5%;
}

span.Reortst {
    font-size: 16px;
    margin-right: 5%;
}
span.Reortst span {
    color: #06C;
}
img.questionimage {
    width: 4%;
    height: 4%;
    display: inline;
    margin-bottom: -1%;
    cursor: pointer;
	margin-right: 5%;
	margin-left: -5%;
}
div#title {
    display: inline-block;
    width: 30%;
    height: auto;
    text-align: left;
    z-index: 10;
    background-color: #E5F1F4;
    padding: 3%;
    position: absolute;
    top: 78%;
    font-size: 13px;
    left: 13%;
}
.form_field_entry{
        display: inline-block;
}
.reportstatss{
   position: absolute;
   bottom: 18%;
   left: 17%;
}

/*timeentry submit  report butoon*/
/*dashboard styling*/
.today_timesheetsummary {
    border: 1px solid #C2C2C2;
    float: left;
    height: 347px;
    margin: 20px;
    overflow: hidden;
    width: 400px;
}
.timesheet{
    display: inline-block;
    float: left;
}
.qk_desctime{
     margin: 5px;
     width: 90px;
}
.qk_desctime a{
    text-decoration: none;
}
.qk_time_desc{
    margin: 5px;
    width: 195px;
}
.hrs_boxtsheet{
/*    font-weight: bold;*/
    height: 16px;
    padding: 5px;
    position: relative;
    width: 28px;
    z-index: 3;
}
.timesheethead{
    background: #589FC8;
    width: 100%;
    height: 28px;
    color: #fff;
    text-align: center;
    font-size: 14px;
}
.dash_work_overviewtime {
    line-height: 25px;
    margin-bottom: 10px;
    min-height: 10px;
}
input.addrowdate {
    width: 60%;
}
img.addrowdate_button {
    display: block;
    margin: -30px 0 0 95px;
}
.errorinvoice{
    display: inline-block;
    color: red;
}
.invoicerowne{
    display: none;
}
#invoice-grid td.button-column {
    width: 14%;
}
#invoice-grid .button-column a {
    padding: 2px;
}
.addroerate,.addhours {
    width: 60%;
}
td.rowhour,td.addrowrate {
    width: 7%;
}
/*dashboard styling*/
/*invoice templates*/
.invoicetemp.form {
    width: 70%;
}
.templateview{
    text-align: center;
    font-size: 16px;
}
.btn-primary {
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
    float: right;
    margin-right: 20px;
    margin-top: 10px
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
/*Invoice Templates*/
