
<link rel="stylesheet" type="text/css" href="uploads/blank_template/style.css" />

<link rel="stylesheet" type="text/css" href="uploads/blank_template/css/bootstrap.min.css" />

<link rel="stylesheet" type="text/css" href="uploads/blank_template/css/bootstrap-theme.min.css" />

<link rel="stylesheet" type="text/css" href="uploads/blank_template/css/style.css" />

<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<script type="text/javascript" src="uploads/blank_template/js/bootstrap.min.js"></script>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>



<link rel="stylesheet" type="text/css" href="uploads/blank_template/css/tablestyles.css" />



<div id="contenthtml">

    <h4 align="center"><u>PROJECT: {project_name}</u></h4>

            <div class="maindiv1">
				<table border="0">

                    <tr>

                        <!--td align="left"> SUBMITTED BY: JP VENTURES</td-->

                        <td align="right">SITE: {site}</td>

                    </tr>

                </table>
                <br /><br />

                

                <div style="clear:both">

                    <h4 align="center">

                        <u>STATUS REPORT -- DATED -- {duration}</u>

                    </h4>

                </div>

                <h4 align="left">

                  PROLOGUE:

                </h4>

                <table class="projtable">

                    <tr>

                        <th>PROJECT START DATE</th>

                        <th>{start_date}</th>

                    </tr>

                </table>

                <h4 align="left">SCHEDULE</h4>

                

                        {content}   

                   

                <h4 class="reporttitle">

                    PAST WEEK

                </h4>

                

                   <div id="lblName" class="editable">{past_week}</div> 

                
                <h4 class="reporttitle">

                    FORECAST NEXT WEEK

                </h4>


                    <div id="lblName" class="editable">{forecast}</div>

              

                <h4 class="reporttitle">

                   OPEN ISSUES

                </h4>

             

                    <div id="lblName" class="editable">{open_issues}</div>

            </div>



</div>



